---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ship/v1607/freight/shipments/Ground
    body:
      encoding: UTF-8
      string: '{"FreightShipRequest":{"Shipment":{"ShipperNumber":"%UPS_SHIPPER_NUMBER%","ShipFrom":{"Name":"Developer
        Test 1","Address":{"AddressLine":"01 Developer Way","City":"Richmond","StateProvinceCode":"VA","PostalCode":"23224","CountryCode":"US"},"Phone":{"Number":"919-459-4280"}},"ShipTo":{"Name":"Consignee
        Test 1","Address":{"AddressLine":"000 Consignee Street","City":"Allanton","StateProvinceCode":"MO","PostalCode":"63025","CountryCode":"US"}},"PaymentInformation":{"Payer":{"Name":"Candle
        Science","Address":{"AddressLine":"1717 E Lawson St","City":"Durham","StateProvinceCode":"NC","PostalCode":"27703","CountryCode":"US"},"Phone":{"Number":"919-459-4280"},"ShipperNumber":"%UPS_SHIPPER_NUMBER%"},"ShipmentBillingOption":{"Code":"10"}},"Service":{"Code":"308"},"Commodity":[{"Description":"Commodities","Weight":{"UnitOfMeasurement":{"Code":"LBS"},"Value":"500.0"},"NumberOfPieces":"1","PackagingType":{"Code":"PLT"},"FreightClass":"92.5"}],"Documents":{"Image":[]},"ShipmentServiceOptions":[[{"EMailInformation":{"EMailType":{"Code":"001"},"EMail":{"EMailAddress":"user@example.com","UndeliverableEMailAddress":"customer_service@example.com"}}},{"EMailInformation":{"EMailType":{"Code":"001"},"EMail":{"EMailAddress":"user@example.com","UndeliverableEMailAddress":"customer_service@example.com"}}}]],"HandlingInstructions":"Handle
        with care","PickupInstructions":"Do not feed the bear","DeliveryInstructions":"Up
        on the 20th Floor","HandlingUnitOne":{"Quantity":"1","Type":{"Code":"PLT","Description":"Pallet"}}}}}'
    headers:
      Content-Type:
      - application/json
      Username:
      - "%UPS_LOGIN%"
      Password:
      - "%UPS_PASSWORD%"
      Accesslicensenumber:
      - "%UPS_KEY%"
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - application/json
      X-Global-Transaction-Id:
      - c6a9700c5e3c1bc86aae553f
      X-Oracle-Dms-Ecid:
      - 449f6d6f-fd43-4bda-b248-7f9de6ae688d-00003907
      X-Oracle-Dms-Rid:
      - '0'
      Apihttpstatus:
      - '200'
    body:
      encoding: ASCII-8BIT
      string: '{"FreightShipResponse":{"Response":{"ResponseStatus":{"Code":"1", "Description":"Success"},
        "Alert":{"Code":"9369055", "Description":"User is not eligible for contract
        rates."}}, "ShipmentResults":{"OriginServiceCenterCode":"RIC", "ShipmentNumber":"022845340",
        "BOLID":"44799608", "GuaranteedIndicator":"", "Rate":[{"Type":{"Code":"DSCNT",
        "Description":"DSCNT"}, "Factor":{"Value":"857.01", "UnitOfMeasurement":{"Code":"USD"}}},
        {"Type":{"Code":"DSCNT_RATE", "Description":"DSCNT_RATE"}, "Factor":{"Value":"70.00",
        "UnitOfMeasurement":{"Code":"%"}}}, {"Type":{"Code":"2", "Description":"2"},
        "Factor":{"Value":"87.05", "UnitOfMeasurement":{"Code":"USD"}}}, {"Type":{"Code":"LND_GROSS",
        "Description":"LND_GROSS"}, "Factor":{"Value":"1224.30", "UnitOfMeasurement":{"Code":"USD"}}},
        {"Type":{"Code":"AFTR_DSCNT", "Description":"AFTR_DSCNT"}, "Factor":{"Value":"367.29",
        "UnitOfMeasurement":{"Code":"USD"}}}], "TotalShipmentCharge":{"CurrencyCode":"USD",
        "MonetaryValue":"454.34"}, "BillableShipmentWeight":{"UnitOfMeasurement":{"Code":"LBS"},
        "Value":"500"}, "Service":{"Code":"308"}}}}'
  recorded_at: Thu, 06 Feb 2020 13:59:38 GMT
recorded_with: VCR 5.0.0
