---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/addressvalidation/v2/1
    body:
      encoding: UTF-8
      string: '{"XAVRequest":{"RegionalRequestIndicator":"1","AddressKeyFormat":[{"PostcodePrimaryLow":"10017","CountryCode":"US"}]}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - '0000000009f5mP6k0v5GzR'
      Content-Type:
      - application/json;charset=UTF-8
      Ak-Grn-1:
      - 0.66c83017.1726239343.80a98199
    body:
      encoding: UTF-8
      string: '{"XAVResponse":{"Response":{"ResponseStatus":{"Code":"1", "Description":"Success"}},
        "AmbiguousAddressIndicator":"", "Candidate":[{"AddressKeyFormat":{"PoliticalDivision2":"NEW
        YORK", "PoliticalDivision1":"NY", "PostcodePrimaryLow":"10017", "Region":"NEW
        YORK NY 10017", "CountryCode":"US"}}, {"AddressKeyFormat":{"PoliticalDivision2":"GRAND
        CENTRAL", "PoliticalDivision1":"NY", "PostcodePrimaryLow":"10017", "Region":"GRAND
        CENTRAL NY 10017", "CountryCode":"US"}}, {"AddressKeyFormat":{"PoliticalDivision2":"NYC",
        "PoliticalDivision1":"NY", "PostcodePrimaryLow":"10017", "Region":"NYC NY
        10017", "CountryCode":"US"}}, {"AddressKeyFormat":{"PoliticalDivision2":"MANHATTAN",
        "PoliticalDivision1":"NY", "PostcodePrimaryLow":"10017", "Region":"MANHATTAN
        NY 10017", "CountryCode":"US"}}, {"AddressKeyFormat":{"PoliticalDivision2":"NY",
        "PoliticalDivision1":"NY", "PostcodePrimaryLow":"10017", "Region":"NY NY 10017",
        "CountryCode":"US"}}, {"AddressKeyFormat":{"PoliticalDivision2":"NEW YORK
        CITY", "PoliticalDivision1":"NY", "PostcodePrimaryLow":"10017", "Region":"NEW
        YORK CITY NY 10017", "CountryCode":"US"}}, {"AddressKeyFormat":{"PoliticalDivision2":"NY
        CITY", "PoliticalDivision1":"NY", "PostcodePrimaryLow":"10017", "Region":"NY
        CITY NY 10017", "CountryCode":"US"}}]}}'
  recorded_at: Fri, 13 Sep 2024 14:55:43 GMT
recorded_with: VCR 6.1.0
