---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/addressvalidation/v2/1
    body:
      encoding: UTF-8
      string: '{"XAVRequest":{"RegionalRequestIndicator":"1","AddressKeyFormat":[{"PostcodePrimaryLow":"00000","CountryCode":"US"}]}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - '0000000009f5mPgVvV3Fd2'
      Content-Type:
      - application/json;charset=UTF-8
      Ak-Grn-1:
      - 0.66c83017.1726239343.80a989ce
    body:
      encoding: UTF-8
      string: '{"XAVResponse":{"Response":{"ResponseStatus":{"Code":"1", "Description":"Success"}},
        "NoCandidatesIndicator":""}}'
  recorded_at: Fri, 13 Sep 2024 14:55:44 GMT
recorded_with: VCR 6.1.0
