---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ship/v1801/freight/rating/ground
    body:
      encoding: UTF-8
      string: '{"FreightRateRequest":{"Request":{"TransactionReference":{"CustomerContext":"order-12345"}},"ShipperNumber":"%UPS_SHIPPER_NUMBER%","ShipFrom":{"Name":"Developer
        Test 1","Address":{"AddressLine":"01 Developer Way","City":"Richmond","StateProvinceCode":"VA","PostalCode":"23224","CountryCode":"US"},"AttentionName":null},"ShipTo":{"Name":"Consignee
        Test 1","Address":{"AddressLine":"","City":"Allanton","StateProvinceCode":"MO","PostalCode":null,"CountryCode":"US"},"AttentionName":null},"PaymentInformation":{"Payer":{"Name":"Acme
        Co.","Address":{"AddressLine":"Far away on the outer rim","City":"Durham","StateProvinceCode":"NC","PostalCode":"27703","CountryCode":"US"},"AttentionName":"Test
        Testman","ShipperNumber":"%UPS_SHIPPER_NUMBER%"},"ShipmentBillingOption":{"Code":"10"}},"Service":{"Code":"308"},"Commodity":[{"Description":"Commodities","Weight":{"UnitOfMeasurement":{"Code":"LBS"},"Value":"500.0"},"NumberOfPieces":"1","PackagingType":{"Code":"CTN"},"FreightClass":"92.5"},{"Description":"Commodities","Weight":{"UnitOfMeasurement":{"Code":"LBS"},"Value":"500.0"},"NumberOfPieces":"1","PackagingType":{"Code":"PLT"},"FreightClass":"92.5"}],"TimeInTransitIndicator":"true","PickupRequest":{"PickupDate":"20191224","AdditionalComments":"Fork
        lift needed"},"HandlingUnitOne":{"Quantity":"2","Type":{"Code":"PLT","Description":"Pallet"}}}}'
    headers:
      Content-Type:
      - application/json
      Username:
      - "%UPS_LOGIN%"
      Password:
      - "%UPS_PASSWORD%"
      Accesslicensenumber:
      - "%UPS_KEY%"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Backside-Transport:
      - OK OK,FAIL FAIL
      Content-Type:
      - application/json
      X-Global-Transaction-Id:
      - e00613ae5e3bf667241a6a6f
      Apierrormsg:
      - Missing or Invalid Postal Code(s) provided in request.
      X-Oracle-Dms-Ecid:
      - 449f6d6f-fd43-4bda-b248-7f9de6ae688d-00001b30
      X-Oracle-Dms-Rid:
      - '0'
      Apihttpstatus:
      - '400'
      Apierrorcode:
      - '9360703'
      Errorcode:
      - '9360703'
      Errordescription:
      - Missing or Invalid Postal Code(s) provided in request.
    body:
      encoding: ASCII-8BIT
      string: '{"response":{"errors":[{"code":"9360703","message":"Missing or Invalid
        Postal Code(s) provided in request."}]}}'
  recorded_at: Thu, 06 Feb 2020 11:20:07 GMT
recorded_with: VCR 5.0.0
