---
http_interactions:
- request:
    method: get
    uri: https://api.shipengine.com/v-beta/ltl/carriers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "%SHIPENGINE_API_KEY%"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Remaining:
      - '19'
      Ratelimit-Limit:
      - '20'
      Ratelimit-Reset:
      - '59'
      X-Shipengine-Requestid:
      - 50376549-5f29-48e5-a00f-8618b2b2b2e2
      Deploy-Target:
      - bWFpbg
    body:
      encoding: UTF-8
      string: '{"carriers":[{"carrier_id":"1fd96e9e-9a25-436a-8e11-c6e4500cb7de","countries":["CA","MX","US"],"credential_requirements":{"account_number":{"title":"Carrier
        account number","type":"string"},"key":{"title":"Access Key (Production)","type":"string"},"password":{"title":"Your
        ups.com Password","type":"string"},"username":{"title":"Your ups.com Username","type":"string"}},"document_types":["delivery_receipt"],"features":["auto_pro","connect","documents","quote","scheduled_pickup","spot_quote","tracking"],"name":"UPS
        Freight","options":[{"attributes":null,"code":"aptd","features":["quote","spot_quote"],"name":"Appointment
        required at delivery"},{"attributes":null,"code":"cnstd","features":["quote","spot_quote"],"name":"Construction
        site delivery"},{"attributes":null,"code":"cnstp","features":["spot_quote"],"name":"Construction
        site pickup"},{"attributes":{"amount":{"title":"Amount","type":"string"}},"code":"cod","features":["quote"],"name":"Collect
        on delivery"},{"attributes":{"name":{"title":"Emergency Contact Name","type":"string"},"phone":{"pattern":"([0-9]{10})","title":"Emergency
        Contact Phone Number","type":"string"}},"code":"haz","features":["quote","spot_quote","scheduled_pickup"],"name":"Hazardous
        material"},{"attributes":null,"code":"idl","features":["quote","spot_quote"],"name":"Inside
        delivery"},{"attributes":{"additional_insurance_amount":{"title":"Additional
        Insurance Amount","type":"string"},"monetary_value":{"title":"Monetary Value","type":"string"}},"code":"ins","features":["quote"],"name":"Additional
        insurance/excess value"},{"attributes":null,"code":"ipu","features":["quote","spot_quote"],"name":"Inside
        pickup"},{"attributes":null,"code":"lftd","features":["quote","spot_quote"],"name":"Lift
        gate required at delivery"},{"attributes":null,"code":"lftp","features":["quote","spot_quote"],"name":"Lift
        gate required at pickup"},{"attributes":null,"code":"ltdad","features":["quote","spot_quote"],"name":"Limited
        access delivery"},{"attributes":null,"code":"ltdap","features":["quote","spot_quote"],"name":"Limited
        access pickup"},{"attributes":null,"code":"mnc","features":["quote","spot_quote"],"name":"Must
        notify consignee"},{"attributes":null,"code":"ovr","features":["quote"],"name":"Over
        dimension/excessive length"},{"attributes":null,"code":"psc","features":["spot_quote"],"name":"Protective
        from cold"},{"attributes":null,"code":"psn","features":["quote"],"name":"Poisonous
        material"},{"attributes":null,"code":"rep","features":["quote","spot_quote"],"name":"Residential
        pickup"},{"attributes":null,"code":"res","features":["quote","spot_quote"],"name":"Residential
        delivery"},{"attributes":{"pieces":{"title":"Pieces","type":"string"}},"code":"srt","features":["quote"],"name":"SRT
        - Sort and segregate"}],"packages":[{"code":"bag","features":["quote","spot_quote","scheduled_pickup"],"name":"Bag"},{"code":"bal","features":["quote","spot_quote","scheduled_pickup"],"name":"Bale"},{"code":"bbl","features":["quote","spot_quote","scheduled_pickup"],"name":"Barrel"},{"code":"bch","features":["quote","spot_quote"],"name":"Bunch"},{"code":"bdl","features":["quote","spot_quote","scheduled_pickup"],"name":"Bundle"},{"code":"box","features":["quote","spot_quote","scheduled_pickup"],"name":"Box"},{"code":"cas","features[...]
