---
http_interactions:
- request:
    method: post
    uri: https://api.shipengine.com/v1/labels
    body:
      encoding: UTF-8
      string: '{"label_format":"pdf","shipment":{"service_code":"usps_priority_mail","ship_to":{"name":"Jane
        Doe","phone":"555-555-0199","company_name":"Company","address_line1":"11 Lovely
        Street","address_line2":"South","city_locality":"Herndon","state_province":"IL","postal_code":"10012","country_code":"US","address_residential_indicator":"No"},"ship_from":{"name":"Jane
        Doe","phone":"555-555-0199","company_name":"Company","address_line1":"11 Lovely
        Street","address_line2":"South","city_locality":"Herndon","state_province":"IL","postal_code":"10011","country_code":"US","address_residential_indicator":"No"},"packages":[{"weight":{"value":49.37931385397863,"unit":"ounce"},"package_code":"large_flat_rate_box"}]},"test_label":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<SHIPENGINE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shipengine-Environment:
      - j
      X-Shipengine-Requestid:
      - 5802b8a0-4dfd-41ef-b0d1-ee67d1f0dfa1
      X-Shipengine-Server:
      - SS-J-WEB01
    body:
      encoding: UTF-8
      string: "{\r\n  \"label_id\": \"se-test-1420575\",\r\n  \"status\": \"processing\",\r\n
        \ \"shipment_id\": \"se-1420575\",\r\n  \"ship_date\": \"2019-02-27T00:00:00Z\",\r\n
        \ \"created_at\": \"2019-02-27T13:58:58.6453147Z\",\r\n  \"shipment_cost\":
        {\r\n    \"currency\": \"usd\",\r\n    \"amount\": 0.0\r\n  },\r\n  \"insurance_cost\":
        {\r\n    \"currency\": \"usd\",\r\n    \"amount\": 0.0\r\n  },\r\n  \"tracking_number\":
        \"9999999999999\",\r\n  \"is_return_label\": false,\r\n  \"rma_number\": null,\r\n
        \ \"is_international\": false,\r\n  \"batch_id\": \"\",\r\n  \"carrier_id\":
        \"se-76432\",\r\n  \"service_code\": \"usps_priority_mail\",\r\n  \"package_code\":
        \"large_flat_rate_box\",\r\n  \"voided\": false,\r\n  \"voided_at\": null,\r\n
        \ \"label_format\": \"pdf\",\r\n  \"label_layout\": \"4x6\",\r\n  \"trackable\":
        true,\r\n  \"carrier_code\": \"stamps_com\",\r\n  \"tracking_status\": \"unknown\",\r\n
        \ \"label_download\": {\r\n    \"href\": \"https://api.shipengine.com/v1/downloads/10/yG10y3OEG0Oj-am8EPlNjw/testlabel-1420575.pdf\"\r\n
        \ },\r\n  \"form_download\": null,\r\n  \"insurance_claim\": null,\r\n  \"packages\":
        [\r\n    {\r\n      \"package_code\": \"large_flat_rate_box\",\r\n      \"weight\":
        {\r\n        \"value\": 49.37,\r\n        \"unit\": \"ounce\"\r\n      },\r\n
        \     \"dimensions\": {\r\n        \"unit\": \"inch\",\r\n        \"length\":
        0.0,\r\n        \"width\": 0.0,\r\n        \"height\": 0.0\r\n      },\r\n
        \     \"insured_value\": {\r\n        \"currency\": \"usd\",\r\n        \"amount\":
        0.00\r\n      },\r\n      \"tracking_number\": null,\r\n      \"label_messages\":
        {\r\n        \"reference1\": null,\r\n        \"reference2\": null,\r\n        \"reference3\":
        null\r\n      }\r\n    }\r\n  ]\r\n}"
  recorded_at: Wed, 27 Feb 2019 13:58:58 GMT
recorded_with: VCR 4.0.0
