---
http_interactions:
- request:
    method: post
    uri: https://api.shipengine.com/v1/labels
    body:
      encoding: UTF-8
      string: '{"label_format":"pdf","label_download_type":"url","shipment":{"service_code":"usps_priority_mail","ship_to":{"name":"Jane
        Doe","phone":"555-555-0199","company_name":"Company","address_line1":"11 Lovely
        Street","address_line2":"Suite 100","city_locality":"Herndon","state_province":"VA","postal_code":"10060","country_code":"US","address_residential_indicator":"No"},"ship_from":{"name":"Jane
        Doe","phone":"555-555-0199","company_name":"Company","address_line1":"11 Lovely
        Street","address_line2":"Suite 100","city_locality":"Herndon","state_province":"VA","postal_code":"10059","country_code":"US","address_residential_indicator":"No"},"packages":[{"weight":{"value":9.771592939272766,"unit":"ounce"},"label_messages":{},"package_code":"not_a_usps_package_code"}],"carrier_id":"%SHIPENGINE_CARRIER_ID%"},"test_label":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "%SHIPENGINE_API_KEY%"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shipengine-Requestid:
      - '09d439d4-aa8b-4514-a432-e5c607664718'
    body:
      encoding: UTF-8
      string: "{\r\n  \"request_id\": \"09d439d4-aa8b-4514-a432-e5c607664718\",\r\n
        \ \"errors\": [\r\n    {\r\n      \"error_source\": \"shipengine\",\r\n      \"error_type\":
        \"business_rules\",\r\n      \"error_code\": \"unspecified\",\r\n      \"message\":
        \"invalid package_code 'not_a_usps_package_code'\",\r\n      \"field_name\":
        \"shipment._packages[0]._package_code\",\r\n      \"field_value\": \"not_a_usps_package_code\"\r\n
        \   }\r\n  ]\r\n}"
  recorded_at: Tue, 29 Oct 2019 16:07:21 GMT
recorded_with: VCR 5.0.0
