---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/AV
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber><UPS_KEY></AccessLicenseNumber>
          <UserId><UPS_LOGIN></UserId>
          <Password><UPS_PASSWORD></Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <AddressValidationRequest>
          <Request>
            <RequestAction>AV</RequestAction>
          </Request>
          <Address>
            <PostalCode>00000</PostalCode>
            <CountryCode>US</CountryCode>
          </Address>
        </AddressValidationRequest>
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Apihttpstatus:
      - '400'
      Apierrorcode:
      - '20008'
      Apierrormsg:
      - The field, PostalCode, contains invalid data, 00000
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AddressValidationResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>0</ResponseStatusCode><ResponseStatusDescription>Failure</ResponseStatusDescription><Error><ErrorSeverity>Hard</ErrorSeverity><ErrorCode>20008</ErrorCode><ErrorDescription>The
        field, PostalCode, contains invalid data, 00000</ErrorDescription></Error></Response></AddressValidationResponse>
  recorded_at: Mon, 07 Oct 2019 14:23:08 GMT
recorded_with: VCR 5.0.0
