---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/AV
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber><UPS_KEY></AccessLicenseNumber>
          <UserId><UPS_LOGIN></UserId>
          <Password><UPS_PASSWORD></Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <AddressValidationRequest>
          <Request>
            <RequestAction>AV</RequestAction>
          </Request>
          <Address>
            <PostalCode>81137</PostalCode>
            <CountryCode>US</CountryCode>
          </Address>
        </AddressValidationRequest>
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Apihttpstatus:
      - '200'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AddressValidationResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><AddressValidationResult><Rank>1</Rank><Quality>0.9750</Quality><Address><City>IGNACIO</City><StateProvinceCode>CO</StateProvinceCode></Address><PostalCodeLowEnd>81137</PostalCodeLowEnd><PostalCodeHighEnd>81137</PostalCodeHighEnd></AddressValidationResult><AddressValidationResult><Rank>2</Rank><Quality>0.9750</Quality><Address><City>ALLISON</City><StateProvinceCode>CO</StateProvinceCode></Address><PostalCodeLowEnd>81137</PostalCodeLowEnd><PostalCodeHighEnd>81137</PostalCodeHighEnd></AddressValidationResult><AddressValidationResult><Rank>3</Rank><Quality>0.9750</Quality><Address><City>INDIAN
        AGENCY</City><StateProvinceCode>CO</StateProvinceCode></Address><PostalCodeLowEnd>81137</PostalCode[...]
