---
http_interactions:
- request:
    method: post
    uri: https://api.usps.com/prices/v3/base-rates/search
    body:
      encoding: UTF-8
      string: '{"originZIPCode":"23224","destinationZIPCode":"63025","weight":10.52,"length":5.81,"width":3.91,"height":1.87,"mailClass":"USPS_GROUND_ADVANTAGE","processingCategory":"NON_MACHINABLE","rateIndicator":"DR","destinationEntryFacilityType":"NONE","priceType":"RETAIL","mailingDate":"2024-04-10"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"apiVersion\": \"/prices/v3\",\n
        \               \"error\": {\n                    \"code\": \"401\",\n                    \"message\":
        \"Missing or malformed access token.\",\n                    \"errors\": [{\"title\":\"invalid_token\",\"detail\":\"The
        access token presented with the request is missing or malformed (not a JWT).\",\"source\":\"Access
        Token\"}]\n                }\n            }\n        "
  recorded_at: Wed, 10 Apr 2024 15:09:42 GMT
recorded_with: VCR 6.1.0
