---
http_interactions:
- request:
    method: post
    uri: https://api.usps.com/prices/v3/base-rates/search
    body:
      encoding: UTF-8
      string: '{"originZIPCode":"23224","destinationZIPCode":"00000","weight":16.45,"length":6.91,"width":5.19,"height":4.72,"mailClass":"USPS_GROUND_ADVANTAGE","processingCategory":"MACHINABLE","rateIndicator":"DR","destinationEntryFacilityType":"NONE","priceType":"RETAIL","mailingDate":"2024-04-03"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"apiVersion\": \"/prices/v3\",\n
        \               \"error\": {\n                    \"code\": \"400\",\n                    \"message\":
        \"Could not find zone from provided ZIPs, date, and mail class\",\n                    \"errors\":
        []\n                }\n            }\n        "
  recorded_at: Wed, 03 Apr 2024 18:06:25 GMT
recorded_with: VCR 6.1.0
