---
http_interactions:
- request:
    method: post
    uri: https://api.usps.com/prices/v3/base-rates/search
    body:
      encoding: UTF-8
      string: '{"originZIPCode":"23224","destinationZIPCode":null,"weight":10.52,"length":5.81,"width":3.91,"height":1.87,"mailClass":"USPS_GROUND_ADVANTAGE","processingCategory":"NON_MACHINABLE","rateIndicator":"DR","destinationEntryFacilityType":"NONE","priceType":"RETAIL","mailingDate":"2024-04-10"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"apiVersion\": \"/prices/v3\",\n
        \               \"error\": {\n                    \"code\": \"400\",\n                    \"message\":
        \"OASValidation OpenAPI-Spec-Validation-Domestic-Prices with resource oas://domestic-prices-v3.yaml:
        failed with reason: [ERROR - [Path '/destinationZIPCode'] Instance type (null)
        does not match any allowed primitive type (allowed: [string]): []]\",\n                    \"errors\":
        []\n                }\n            }\n        "
  recorded_at: Wed, 10 Apr 2024 15:09:41 GMT
recorded_with: VCR 6.1.0
