---
http_interactions:
- request:
    method: post
    uri: https://api.usps.com/prices/v3/base-rates/search
    body:
      encoding: UTF-8
      string: '{"originZIPCode":"23224","destinationZIPCode":"63025","weight":10.52,"length":5.81,"width":3.91,"height":1.87,"mailClass":"USPS_GROUND_ADVANTAGE","processingCategory":"NON_MACHINABLE","rateIndicator":"DR","destinationEntryFacilityType":"NONE","priceType":"RETAIL","mailingDate":"2024-04-10"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"totalBasePrice\": 20.35,\n                \"rates\":
        [{\"SKU\":\"DUXR0XXXXR05110\",\"description\":\"USPS Ground Advantage Nonmachinable
        Dimensional Rectangular\",\"priceType\":\"RETAIL\",\"price\":20.35,\"weight\":10.52,\"dimWeight\":0,\"fees\":[],\"startDate\":\"2024-01-21\",\"endDate\":\"\",\"warnings\":[],\"mailClass\":\"USPS_GROUND_ADVANTAGE\",\"zone\":\"05\"}]\n
        \           }\n        "
  recorded_at: Wed, 10 Apr 2024 15:09:40 GMT
- request:
    method: post
    uri: https://api.usps.com/prices/v3/base-rates/search
    body:
      encoding: UTF-8
      string: '{"originZIPCode":"23224","destinationZIPCode":"63025","weight":5.93,"length":6.91,"width":5.19,"height":2.84,"mailClass":"USPS_GROUND_ADVANTAGE","processingCategory":"LETTERS","rateIndicator":"DR","destinationEntryFacilityType":"NONE","priceType":"RETAIL","mailingDate":"2024-04-10"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"apiVersion\": \"/prices/v3\",\n
        \               \"error\": {\n                    \"code\": \"400\",\n                    \"message\":
        \"Provided dimensions exceed maximum allowed for First Class Letters.\",\n
        \                   \"errors\": []\n                }\n            }\n        "
  recorded_at: Wed, 10 Apr 2024 15:09:41 GMT
recorded_with: VCR 6.1.0
