---
http_interactions:
- request:
    method: post
    uri: https://api.usps.com/prices/v3/base-rates/search
    body:
      encoding: UTF-8
      string: '{"originZIPCode":"23224","destinationZIPCode":"63025","weight":16.45,"length":6.91,"width":5.19,"height":4.72,"mailClass":"USPS_GROUND_ADVANTAGE","processingCategory":"MACHINABLE","rateIndicator":"DR","destinationEntryFacilityType":"NONE","priceType":"RETAIL","mailingDate":"2024-04-03"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"totalBasePrice\": 26.55,\n                \"rates\":
        [{\"SKU\":\"DUXR0XXXXR05170\",\"description\":\"USPS Ground Advantage Machinable
        Dimensional Rectangular\",\"priceType\":\"RETAIL\",\"price\":26.55,\"weight\":16.45,\"dimWeight\":0,\"fees\":[],\"startDate\":\"2024-01-21\",\"endDate\":\"\",\"warnings\":[],\"mailClass\":\"USPS_GROUND_ADVANTAGE\",\"zone\":\"05\"}]\n
        \           }\n        "
  recorded_at: Wed, 03 Apr 2024 18:06:25 GMT
recorded_with: VCR 6.1.0
