---
http_interactions:
- request:
    method: post
    uri: https://api.usps.com/prices/v3/base-rates/search
    body:
      encoding: UTF-8
      string: '{"originZIPCode":"23224","destinationZIPCode":"63025","weight":10.52,"length":5.81,"width":3.91,"height":1.87,"mailClass":"USPS_GROUND_ADVANTAGE","processingCategory":"NON_MACHINABLE","rateIndicator":"DR","destinationEntryFacilityType":"NONE","priceType":"RETAIL","mailingDate":"2024-04-15"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"totalBasePrice\": 20.35,\n                \"rates\":
        [{\"SKU\":\"DUXR0XXXXR05110\",\"description\":\"USPS Ground Advantage Nonmachinable
        Dimensional Rectangular\",\"priceType\":\"RETAIL\",\"price\":20.35,\"weight\":10.52,\"dimWeight\":0,\"fees\":[],\"startDate\":\"2024-01-21\",\"endDate\":\"\",\"warnings\":[],\"mailClass\":\"USPS_GROUND_ADVANTAGE\",\"zone\":\"05\"}]\n
        \           }\n        "
  recorded_at: Mon, 15 Apr 2024 12:58:45 GMT
- request:
    method: post
    uri: https://api.usps.com/prices/v3/base-rates/search
    body:
      encoding: UTF-8
      string: '{"originZIPCode":"23224","destinationZIPCode":"63025","weight":42.67,"length":18.86,"width":17.72,"height":13.66,"mailClass":"USPS_GROUND_ADVANTAGE","processingCategory":"NON_MACHINABLE","rateIndicator":"DR","destinationEntryFacilityType":"NONE","priceType":"RETAIL","mailingDate":"2024-04-15"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"totalBasePrice\": 95.5,\n                \"rates\":
        [{\"SKU\":\"DUXR0XXXXR05430\",\"description\":\"USPS Ground Advantage Nonmachinable
        Dimensional Rectangular\",\"priceType\":\"RETAIL\",\"price\":77.5,\"weight\":42.67,\"dimWeight\":29,\"fees\":[{\"name\":\"Nonstandard
        Volume > 2 cu ft\",\"SKU\":\"D813XUXXXXX0000\",\"price\":18}],\"startDate\":\"2024-01-21\",\"endDate\":\"\",\"warnings\":[],\"mailClass\":\"USPS_GROUND_ADVANTAGE\",\"zone\":\"05\"}]\n
        \           }\n        "
  recorded_at: Mon, 15 Apr 2024 12:58:46 GMT
recorded_with: VCR 6.1.0
