# .env.template
# NO PASSWORDS OR SENSITIVE INFORMATION SHOULD BE STORED HERE
# Only pass along how those passwords/info are reference via ENV VARS

SHIPENGINE_API_KEY=ShipEngine API key
SHIPENGINE_CARRIER_ID=Carrier ID from your ShipEngine account to run test labels with

SHIPENGINE_LTL_CARRIER_ID=LTL carrier ID from your ShipEngine account to run tests with
SHIPENGINE_LTL_CARRIER_SCAC=Standard Carrier Alpha Code from your ShipEngine account to run tests with

UPS_KEY=UPS API access key
UPS_LOGIN=UPS login name
UPS_PASSWORD=UPS login password
UPS_SHIPPER_NUMBER=UPS shipper number

USPS_LOGIN=USPS login name
