# .env.template
# NO PASSWORDS OR SENSITIVE INFORMATION SHOULD BE STORED HERE
# Only pass along how those passwords/info are reference via ENV VARS

SHIPENGINE_API_KEY=ShipEngine API key
SHIPENGINE_CARRIER_ID=Carrier ID from your ShipEngine account to run test labels with

UPS_KEY=UPS API access key
UPS_LOGIN=UPS login name
UPS_PASSWORD=UPS login password

USPS_LOGIN=USPS login name
