---
http_interactions:
- request:
    method: post
    uri: https://stg-secure.shippingapis.com/ShippingAPI.dll
    body:
      encoding: UTF-8
      string: API=SDCGetLocations&XML=%3C%3Fxml+version%3D%221.0%22%3F%3E%0A%3CSDCGetLocationsRequest+USERID%3D%22WRONG_LOGIN%22%3E%0A++%3CMailClass%3E0%3C%2FMailClass%3E%0A++%3COriginZIP%3E27703%3C%2FOriginZIP%3E%0A++%3CDestinationZIP%3E32821%3C%2FDestinationZIP%3E%0A++%3CAcceptDate%3E04-Dec-2019%3C%2FAcceptDate%3E%0A++%3CNonEMDetail%3Etrue%3C%2FNonEMDetail%3E%0A%3C%2FSDCGetLocationsRequest%3E%0A
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      Ns-Client-Ip:
      - 188.96.64.163
      X-Client-Ip:
      - 56.0.71.6,56.0.71.6
      X-Global-Transaction-Id:
      - ec50ae425de778d906cef3d1
      Client-Ip:
      - 188.96.64.163
      X-Archived-Client-Ip:
      - 56.0.71.6
      Ntcoent-Length:
      - '208'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Number>80040B1A</Number><Description>Authorization failure.  Perhaps username and/or password is incorrect.</Description><Source>USPSCOM::DoAuth</Source></Error>
  recorded_at: Wed, 04 Dec 2019 09:14:01 GMT
recorded_with: VCR 5.0.0
