---
http_interactions:
- request:
    method: post
    uri: https://stg-secure.shippingapis.com/ShippingAPI.dll
    body:
      encoding: UTF-8
      string: API=SDCGetLocations&XML=%3C%3Fxml+version%3D%221.0%22%3F%3E%0A%3CSDCGetLocationsRequest+USERID%3D%22%USPS_LOGIN%%22%3E%0A++%3CMailClass%3E0%3C%2FMailClass%3E%0A++%3COriginZIP%3E27703%3C%2FOriginZIP%3E%0A++%3CDestinationZIP%3E20189%3C%2FDestinationZIP%3E%0A++%3CAcceptDate%3E17-Jan-2020%3C%2FAcceptDate%3E%0A++%3CNonEMDetail%3Etrue%3C%2FNonEMDetail%3E%0A%3C%2FSDCGetLocationsRequest%3E%0A
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      X-Global-Transaction-Id:
      - ec50ae425e21fe1e175717c1
      Ntcoent-Length:
      - '4831'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <SDCGetLocationsResponse><Release>2.0</Release><CallerID>4</CallerID><SourceID>004</SourceID><MailClass>0</MailClass><OriginZIP>27703</OriginZIP><OriginCity>DURHAM</OriginCity><OriginState>NC</OriginState><DestZIP>20189</DestZIP><DestCity>DULLES</DestCity><DestState>VA</DestState><AcceptDate>2020-01-17</AcceptDate><AcceptTime>1234</AcceptTime><Expedited><EAD>0001-01-01</EAD><Commitment><MailClass>1</MailClass><CommitmentName/><CommitmentTime/><CommitmentSeq>A0</CommitmentSeq><Location><SDD>0001-01-01</SDD><COT/><FacType>POST OFFICE</FacType><Street>1100 N MIAMI BLVD</Street><City>DURHAM</City><State>NC</State><ZIP>27703</ZIP><IsGuaranteed>2</IsGuaranteed></Location><Location><SDD>0001-01-01</SDD><COT/><FacType>CONTRACT POSTAL UNIT</FacType><Street>3801 WAKE FOREST RD STE 118</Street><City>DURHAM</City><State>NC</State><ZIP>27703</ZIP><IsGuaranteed>2</IsGuaranteed></Location></Commitment><Commitment><MailClass>2</MailClass><CommitmentName>2-Day</CommitmentName><CommitmentTime/><CommitmentSeq>C0200</CommitmentSeq><Location><SDD>2020-01-19</SDD><COT>1600</COT><FacType>POST OFFICE</FacType><Street>1100 N MIAMI BLVD</Street><City>DURHAM</City><State>NC</State><ZIP>27703</ZIP><IsGuaranteed>2</IsGuaranteed></Location><Location><SDD>2020-01-19</SDD><COT>1700</COT><FacType>CONTRACT POSTAL UNIT</FacType><Street>3801 WAKE FOREST RD STE 118</Street><City>DURHAM</City><State>NC</State><ZIP>27703</ZIP><IsGuaranteed>2</IsGuaranteed></Location></Commitment><Commitment><MailClass>2</MailClass><CommitmentName>2-Day</CommitmentName><CommitmentTime/><CommitmentSeq>D0200</CommitmentSeq><Location><SDD>2020-01-22</SDD><COT>1600</COT><FacType>POST OFFICE</FacType><Street>1100 N MIAMI BLVD</Street><City>DURHAM</City><State>NC</State><ZIP>27703</ZIP><IsGuaranteed>2</IsGuaranteed></Location><Location><SDD>2020-01-22</SDD><COT>1700</COT><FacType>CONTRACT POSTAL UNIT</FacType><Street>3801 WAKE FOREST RD STE 118</Street><City>DURHAM</City><State>NC</State><ZIP>27703</ZIP><IsGuaranteed>2</IsGuaranteed></Location></Commitment></Expedited><NonExpedited><MailClass>3</MailClass><NonExpeditedDestType>1</NonExpeditedDestType><EAD>2020-01-17</EAD><COT>1820</COT><SvcStdMsg>2 Days</SvcStdMsg><SvcStdDays>2</SvcStdDays><SchedDlvryDate>2020-01-21</SchedDlvryDate></NonExpedited><NonExpedited><MailClass>3</MailClass><NonExpeditedDestType>2</NonExpeditedDestType><EAD>2020-01-17</EAD><COT>1820</COT><SvcStdMsg>2 Days</SvcStdMsg><SvcStdDays>2</SvcStdDays><SchedDlvryDate>2020-01-22</SchedDlvryDate></NonExpedited><NonExpedited><MailClass>3</MailClass><NonExpeditedDestType>3</NonExpeditedDestType><HFPU><EAD>2020-01-17</EAD><COT>1820</COT><HFPUGlobalExcept><NoHFPULocInd>1</NoHFPULocInd></HFPUGlobalExcept></HFPU></NonExpedited><NonExpedited><MailClass>4</MailClass><NonExpeditedDestType>1</NonExpeditedDestType><EAD>2020-01-17</EAD><COT>1820</COT><SvcStdMsg>7 Days</SvcStdMsg><SvcStdDays>7</SvcStdDays><SchedDlvryDate>2020-01-24</SchedDlvryDate></NonExpedited><NonExpedited><MailClass>4</MailClass><NonExpeditedDestType>2</NonExpeditedDestType><EAD>2020-01-17</EAD><COT>1820</COT><SvcStdMsg>7 Days</SvcStdMsg><SvcStdDays>7</SvcStdDays><SchedDlvryDate>2020-01-25</SchedDl[...]
