---
http_interactions:
- request:
    method: post
    uri: https://stg-secure.shippingapis.com/ShippingAPI.dll
    body:
      encoding: UTF-8
      string: API=SDCGetLocations&XML=%3C%3Fxml+version%3D%221.0%22%3F%3E%0A%3CSDCGetLocationsRequest+USERID%3D%22%USPS_LOGIN%%22%3E%0A++%3CMailClass%3E0%3C%2FMailClass%3E%0A++%3COriginZIP%3E27703%3C%2FOriginZIP%3E%0A++%3CDestinationZIP%3E32821%3C%2FDestinationZIP%3E%0A++%3CAcceptDate%3E04-Dec-2019%3C%2FAcceptDate%3E%0A++%3CNonEMDetail%3Etrue%3C%2FNonEMDetail%3E%0A%3C%2FSDCGetLocationsRequest%3E%0A
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      X-Global-Transaction-Id:
      - ec50ae425de778d707166b6f
      Ntcoent-Length:
      - '7364'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <SDCGetLocationsResponse><Release>2.0</Release><CallerID>4</CallerID><SourceID>004</SourceID><MailClass>0</MailClass><OriginZIP>27703</OriginZIP><OriginCity>DURHAM</OriginCity><OriginState>NC</OriginState><DestZIP>32821</DestZIP><DestCity>ORLANDO</DestCity><DestState>FL</DestState><AcceptDate>2019-12-04</AcceptDate><AcceptTime>0313</AcceptTime><Expedited><EAD>2019-12-04</EAD><Commitment><MailClass>1</MailClass><CommitmentName>1-Day</CommitmentName><CommitmentTime>1200</CommitmentTime><CommitmentSeq>A0112</CommitmentSeq><Location><SDD>2019-12-05</SDD><COT>1600</COT><FacType>POST OFFICE</FacType><Street>1100 N MIAMI BLVD</Street><City>DURHAM</City><State>NC</State><ZIP>27703</ZIP><IsGuaranteed>1</IsGuaranteed></Location><Location><SDD>2019-12-05</SDD><COT>1705</COT><FacType>CONTRACT POSTAL UNIT</FacType><Street>3801 WAKE FOREST RD STE 118</Street><City>DURHAM</City><State>NC</State><ZIP>27703</ZIP><IsGuaranteed>1</IsGuaranteed></Location></Commitment><Commitment><MailClass>1</MailClass><CommitmentName>1-Day</CommitmentName><CommitmentTime>1500</CommitmentTime><CommitmentSeq>B0115</CommitmentSeq><Location><SDD>2019-12-05</SDD><COT>1600</COT><FacType>POST OFFICE</FacType><Street>1100 N [...]
