---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/addressvalidation/v1/2
    body:
      encoding: UTF-8
      string: '{"XAVRequest":{"Request":{"RequestOption":"2"},"AddressKeyFormat":[{"AddressLine":["800
        2nd Ave"],"ConsigneeName":"Company","CountryCode":"US","PoliticalDivision1":"New
        York","PoliticalDivision2":"New York","PostcodePrimaryLow":"10017"}]}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - 000000000216jRsJT6lFQ4
      Content-Type:
      - application/json;charset=UTF-8
      Ak-Grn-1:
      - 0.081c2e17.1706809839.333e5b9
    body:
      encoding: UTF-8
      string: '{"XAVResponse":{"Response":{"ResponseStatus":{"Code":"1", "Description":"Success"}},
        "AddressClassification":{"Code":"1", "Description":"Commercial"}}}'
  recorded_at: Thu, 01 Feb 2024 17:50:39 GMT
recorded_with: VCR 6.1.0
