---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/addressvalidation/v1/2
    body:
      encoding: UTF-8
      string: '{"XAVRequest":{"Request":{"RequestOption":"2"},"AddressKeyFormat":[{"AddressLine":["123
        Does Not Exist St","Suite 100"],"ConsigneeName":"Company","CountryCode":"US","PoliticalDivision1":"New
        York","PoliticalDivision2":"Unknown City","PostcodePrimaryLow":"10005"}]}}'
    headers:
      Authorization:
      - Bearer %UPS_ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Bkndtransid:
      - 000000000216l7BKwXcbBH
      Apierrorcode:
      - '9264030'
      Apierrormsg:
      - The state is not supported in the Customer Integration Environment.
      Content-Type:
      - application/json;charset=UTF-8
      Errorcode:
      - '9264030'
      Errordescription:
      - The state is not supported in the Customer Integration Environment.
      Ak-Grn-1:
      - 0.c9cf5868.1706810020.13d890d1
    body:
      encoding: UTF-8
      string: '{"response":{"errors":[{"code":"9264030","message":"The state is not
        supported in the Customer Integration Environment."}]}}'
  recorded_at: Thu, 01 Feb 2024 17:53:41 GMT
recorded_with: VCR 6.1.0
