---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/addressvalidation/v1/2
    body:
      encoding: UTF-8
      string: '{"XAVRequest":{"Request":{"RequestOption":"2"},"AddressKeyFormat":[{"AddressLine":["401
        Dover St"],"ConsigneeName":"Company","CountryCode":"US","PoliticalDivision1":"New
        York","PoliticalDivision2":"Westbury","PostcodePrimaryLow":"11590"}]}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - 000000000216jCqWXlL9hb
      Content-Type:
      - application/json;charset=UTF-8
      Ak-Grn-1:
      - 0.1da73717.1706809807.2cd5b326
    body:
      encoding: UTF-8
      string: '{"XAVResponse":{"Response":{"ResponseStatus":{"Code":"1", "Description":"Success"}},
        "AddressClassification":{"Code":"2", "Description":"Residential"}}}'
  recorded_at: Thu, 01 Feb 2024 17:50:07 GMT
recorded_with: VCR 6.1.0
