---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/addressvalidation/v1/2
    body:
      encoding: UTF-8
      string: '{"XAVRequest":{"Request":{"RequestOption":"2"},"AddressKeyFormat":[{"AddressLine":["123
        Does Not Exist St","Suite 100"],"ConsigneeName":"Company","CountryCode":"US","PoliticalDivision1":"New
        York","PoliticalDivision2":"New York","PostcodePrimaryLow":"10005"}]}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - 000000000215RYnM8N9SN5
      Content-Type:
      - application/json;charset=UTF-8
      Ak-Grn-1:
      - 0.0fa73717.1706806480.139c7831
    body:
      encoding: UTF-8
      string: '{"XAVResponse":{"Response":{"ResponseStatus":{"Code":"1", "Description":"Success"}},
        "AddressClassification":{"Code":"0", "Description":"Unknown"}}}'
  recorded_at: Thu, 01 Feb 2024 16:54:41 GMT
recorded_with: VCR 6.1.0
