---
http_interactions:
- request:
    method: post
    uri: https://api.tforcefreight.com/pickup/request?api-version=v1
    body:
      encoding: UTF-8
      string: '{"pickup":{"date":"2024-04-11","time":"12:30:00","openTime":"08:00:00","closeTime":"16:00:00"},"requester":{"companyName":"ACME
        Inc","contactName":"John Smith","email":"john@acme.com","phone":{"number":"123-123-1234"}},"origin":{"companyName":"ACME
        Inc","contactName":"John Smith","email":"john@acme.com","phone":{"number":"123-123-1234"},"address":{"address1":"123
        Maple St","address2":"Suite 456","city":"Richmond","stateProvinceCode":"VA","postalCode":"23224","country":"US"}},"destination":{},"services":["INPU","LIFO"],"lineItems":[{"description":"Commodities","weight":500,"weightUnit":"LBS","pieces":1,"packagingType":"CTN","hazardous":false},{"description":"Commodities","weight":500,"weightUnit":"LBS","pieces":1,"packagingType":"PLT","hazardous":false}],"instructions":{"pickup":"East
        Dock","handling":"Handle with care","delivery":"West Dock"},"pomIndicator":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "statusCode": 400, "message": "Body of the request does not conform
        to the definition which is associated with the content type application/json.
        Required properties are missing from object: postalCode, country. Line: 1,
        Position: 496" }'
  recorded_at: Thu, 11 Apr 2024 14:12:26 GMT
recorded_with: VCR 6.1.0
