---
http_interactions:
- request:
    method: post
    uri: https://api.tforcefreight.com/pickup/request?api-version=cie-v1
    body:
      encoding: UTF-8
      string: '{"pickup":{"date":"2023-05-18","time":"12:30:00","openTime":"08:00:00","closeTime":"04:00:00"},"requester":{"companyName":"ACME
        Inc","contactName":"John Smith","email":"john@acme.com","phone":{"number":"123-123-1234"}},"origin":{"companyName":"ACME
        Inc","contactName":"John Smith","email":"john@acme.com","phone":{"number":"123-123-1234"},"address":{"address1":"123
        Maple St","address2":"Suite 456","city":"Richmond","stateProvinceCode":"VA","postalCode":"23224","country":"US"}},"pomDestination":{"companyName":"Consignee
        Test 1","phone":{"number":null},"address":{"city":"Allanton","stateProvinceCode":"MO","country":"US"}},"services":["INPU","LIFO"],"lineItems":[{"description":"Commodities","weight":"500/1","weightUnit":"LBS","pieces":1,"packagingType":"CTN","hazardous":false},{"description":"Commodities","weight":"500/1","weightUnit":"LBS","pieces":1,"packagingType":"PLT","hazardous":false}],"instructions":{"pickup":"East
        Dock","handling":"Handle with care","delivery":"West Dock"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer secret_token
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "statusCode": 400, "message": "Body of the request does not conform
        to the definition which is associated with the content type application/json.
        Invalid type. Expected String but got Null. Line: 1, Position: 553" }'
  recorded_at: Fri, 19 Jan 2024 18:25:47 GMT
recorded_with: VCR 6.1.0
