---
http_interactions:
- request:
    method: post
    uri: https://api.tforcefreight.com/pickup/request?api-version=cie-v1
    body:
      encoding: UTF-8
      string: '{"pickup":{"date":"2024-01-22","time":"12:30:00","openTime":"08:00:00","closeTime":"16:00:00"},"requester":{"companyName":"ACME
        Inc","contactName":"John Smith","email":"john@acme.com","phone":{"number":"123-123-1234"}},"origin":{"companyName":"ACME
        Inc","contactName":"John Smith","email":"john@acme.com","phone":{"number":"123-123-1234"},"address":{"address1":"123
        Maple St","address2":"Suite 456","city":"Richmond","stateProvinceCode":"VA","postalCode":"23224","country":"US"}},"destination":{"postalCode":"63025","country":"US"},"services":["INPU","LIFO"],"lineItems":[{"description":"Commodities","weight":500,"weightUnit":"LBS","pieces":1,"packagingType":"CTN","hazardous":false},{"description":"Commodities","weight":500,"weightUnit":"LBS","pieces":1,"packagingType":"PLT","hazardous":false}],"instructions":{"pickup":"East
        Dock","handling":"Handle with care","delivery":"West Dock"},"pomIndicator":false}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer secret_token
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

                        {
                            "responseStatus": {
                                "code": "1",
                                "description": "Success"
                            },
                            "transactionReference": {
                                "transactionId": "7acf9c09-55f0-41a4-9371-9caafd63d618",
                                "confirmationNumber": "WBU5337790",
                                "emailSent": "false",
                                "originIsRural": "false",
                                "destinationIsRural": "false"
                            }
                        }
  recorded_at: Fri, 19 Jan 2024 18:44:59 GMT
recorded_with: VCR 6.1.0
