---
http_interactions:
- request:
    method: post
    uri: https://api.tforcefreight.com/shipping/bol/create?api-version=v1
    body:
      encoding: UTF-8
      string: '{"requestOptions":{"serviceCode":"308","pickupDate":"2024-01-22","previewRate":false,"timeInTransit":false},"shipFrom":{"name":"ACME
        Inc","contact":"John Smith","email":"john@acme.com","phone":{"number":"123-123-1234"},"address":{"addressLine":"123
        Maple St Suite 456","city":"Richmond","stateProvinceCode":"VA","postalCode":"23224","country":"US"},"isResidential":false},"shipTo":{"phone":{"number":null},"address":{},"isResidential":false},"payment":{"payer":{"name":"ACME
        Inc","contact":"John Smith","email":"john@acme.com","phone":{"number":"123-123-1234"},"address":{"addressLine":"123
        Maple St Suite 456","city":"Richmond","stateProvinceCode":"VA","postalCode":"23224","country":"US"}},"billingCode":"10"},"commodities":[{"description":"Widgets","class":"92.5","nmfc":{"prime":"16030","sub":"1"},"pieces":1,"weight":{"weight":500.0,"weightUnit":"LBS"},"packagingType":"CTN","dangerousGoods":false,"dimensions":{"length":0.0,"width":0.0,"height":0.0,"unit":"IN"}},{"description":"Gadgets","class":"92.5","nmfc":{"prime":"16030","sub":"1"},"pieces":1,"weight":{"weight":500.0,"weightUnit":"LBS"},"packagingType":"PLT","dangerousGoods":false,"dimensions":{"length":0.0,"width":0.0,"height":0.0,"unit":"IN"}}],"instructions":{"pickup":"East
        Dock","handling":"Handle with care","delivery":"West Dock"},"serviceOptions":{"pickup":[],"delivery":["INDE","LIFD"]},"pickupRequest":{"pickup":{"date":"2024-01-22","time":"12:30:00","openTime":"08:00:00","closeTime":"16:00:00"},"requester":{"companyName":"ACME
        Inc","contactName":"John Smith","email":"john@acme.com","phone":{"number":"123-123-1234"}},"pomIndicator":false},"documents":{"image":[{"type":"20","format":"01"},{"type":"30","format":"01","label":{"type":"07","startPosition":1,"numberOfStickers":2}}]},"handlingUnitOne":{"quantity":2,"typeCode":"PLT"},"references":[{"number":"123","type":"BL"},{"number":"456","type":"PO"}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 400
      message: ContentInvalid
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\r\n  \"responseStatus\": {\r\n    \"code\": \"ERROR\",\r\n    \"description\":
        \"Body of the request does not conform to the definition which is associated
        with the content type application/json. Required properties are missing from
        object: name. Line: 1, Position: 441\"\r\n  },\r\n  \"transactionReference\":
        {\r\n    \"transactionId\": \"0cb7eaff-2921-4c60-8c4f-82a16bb2ce04\"\r\n  }\r\n}"
  recorded_at: Thu, 11 Apr 2024 14:08:29 GMT
recorded_with: VCR 6.1.0
