---
http_interactions:
- request:
    method: put
    uri: https://api.shipengine.com/v-beta/ltl/connections/%SHIPENGINE_LTL_CARRIER_SCAC%/bogus
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"%UPS_LOGIN%","password":"%UPS_PASSWORD%","key":"%UPS_KEY%","account_number":"%UPS_SHIPPER_NUMBER%"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "%SHIPENGINE_API_KEY%"
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '20'
      Ratelimit-Remaining:
      - '19'
      Ratelimit-Reset:
      - '19'
      Etag:
      - W/"aa-DVSpt4qh1PTPztG4SpLAKw+xX1A"
      X-Shipengine-Requestid:
      - 4f5a037e-0f0c-43ce-87e9-3d35b7264de7
      Deploy-Target:
      - bWFpbg
    body:
      encoding: UTF-8
      string: '{"request_id":"4f5a037e-0f0c-43ce-87e9-3d35b7264de7","errors":[{"error_source":"carrier","error_type":"system","message":"A
        carrier account required for this request."}]}'
  recorded_at: Mon, 06 Jun 2022 19:00:41 GMT
recorded_with: VCR 6.1.0
