---
http_interactions:
- request:
    method: put
    uri: https://api.shipengine.com/v-beta/ltl/connections/%SHIPENGINE_LTL_CARRIER_SCAC%/%SHIPENGINE_LTL_CARRIER_ID%
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"%UPS_LOGIN%","password":"%UPS_PASSWORD%","key":"%UPS_KEY%","account_number":"%UPS_SHIPPER_NUMBER%"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "%SHIPENGINE_API_KEY%"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '20'
      Ratelimit-Remaining:
      - '19'
      Ratelimit-Reset:
      - '50'
      Etag:
      - W/"35-T6ZTf3prcu5smLm11B5jQD+s4uE"
      X-Shipengine-Requestid:
      - fbf69025-9b83-4661-8b24-2687a75c7d82
      Deploy-Target:
      - bWFpbg
    body:
      encoding: UTF-8
      string: '{"carrier_id":"%SHIPENGINE_LTL_CARRIER_ID%"}'
  recorded_at: Mon, 06 Jun 2022 18:59:10 GMT
recorded_with: VCR 6.1.0
