---
http_interactions:
- request:
    method: post
    uri: https://stg-secure.shippingapis.com/ShippingAPI.dll
    body:
      encoding: UTF-8
      string: API=CityStateLookup&XML=%3C%3Fxml+version%3D%221.0%22%3F%3E%0A%3CCityStateLookupRequest+USERID%3D%22<USPS_LOGIN>%22%3E%0A++%3CZipCode%3E%0A++++%3CZip5%3E00000%3C%2FZip5%3E%0A++%3C%2FZipCode%3E%0A%3C%2FCityStateLookupRequest%3E%0A
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      X-Global-Transaction-Id:
      - '018fb36a5d9dfa0b0a0384b7'
      Ntcoent-Length:
      - '265'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <CityStateLookupResponse><ZipCode><Error><Number>-2147219399</Number><Source>WebtoolsAMS;CityStateLookup</Source><Description>Invalid Zip Code.</Description><HelpFile/><HelpContext/></Error></ZipCode></CityStateLookupResponse>
  recorded_at: Wed, 09 Oct 2019 15:17:31 GMT
recorded_with: VCR 5.0.0
