---
http_interactions:
- request:
    method: post
    uri: https://stg-secure.shippingapis.com/ShippingAPI.dll
    body:
      encoding: UTF-8
      string: API=CityStateLookup&XML=%3C%3Fxml+version%3D%221.0%22%3F%3E%0A%3CCityStateLookupRequest+USERID%3D%22%USPS_LOGIN%%22%3E%0A++%3CZipCode%3E%0A++++%3CZip5%3E81137%3C%2FZip5%3E%0A++%3C%2FZipCode%3E%0A%3C%2FCityStateLookupRequest%3E%0A
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      X-Global-Transaction-Id:
      - '018fb36a5db863cc08a39b7d'
      Ntcoent-Length:
      - '164'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <CityStateLookupResponse><ZipCode><Zip5>81137</Zip5><City>IGNACIO</City><State>CO</State></ZipCode></CityStateLookupResponse>
  recorded_at: Tue, 29 Oct 2019 16:07:40 GMT
recorded_with: VCR 5.0.0
