---
http_interactions:
- request:
    method: get
    uri: https://api.shipengine.com/v1/carriers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<SHIPENGINE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shipengine-Requestid:
      - d525539d-d80c-49b1-ba18-15ae4b224646
      X-Shipengine-Server:
      - SS-J-WEB01
    body:
      encoding: UTF-8
      string: "{\r\n  \"carriers\": [\r\n    {\r\n      \"carrier_id\": \"se-76432\",\r\n
        \     \"carrier_code\": \"stamps_com\",\r\n      \"account_number\": null,\r\n
        \     \"requires_funded_amount\": true,\r\n      \"balance\": 0.0,\r\n      \"nickname\":
        \"Free\",\r\n      \"friendly_name\": \"Stamps.com\",\r\n      \"primary\":
        true,\r\n      \"has_multi_package_supporting_services\": false,\r\n      \"supports_label_messages\":
        true,\r\n      \"services\": [\r\n        {\r\n          \"carrier_id\": \"se-76432\",\r\n
        \         \"carrier_code\": \"stamps_com\",\r\n          \"service_code\":
        \"usps_first_class_mail\",\r\n          \"name\": \"USPS First Class Mail\",\r\n
        \         \"domestic\": true,\r\n          \"international\": false,\r\n          \"is_multi_package_supported\":
        false\r\n        },\r\n        {\r\n          \"carrier_id\": \"se-76432\",\r\n
        \         \"carrier_code\": \"stamps_com\",\r\n          \"service_code\":
        \"usps_media_mail\",\r\n          \"name\": \"USPS Media Mail\",\r\n          \"domestic\":
        true,\r\n          \"international\": false,\r\n          \"is_multi_package_supported\":
        false\r\n        },\r\n        {\r\n          \"carrier_id\": \"se-76432\",\r\n
        \         \"carrier_code\": \"stam[...]
