---
http_interactions:
- request:
    method: get
    uri: https://api.usps.com/addresses/v3/city-state?ZIPCode=00000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Akamai-Grn:
      - 0.0fc0ce17.1748439111.54501633
    body:
      encoding: UTF-8
      string: "\n            {\n                \"apiVersion\": \"/addresses/v3/\",\n
        \               \"error\": {\n                    \"code\": \"400\",\n                    \"message\":
        \"Invalid Zip Code.\",\n                    \"errors\": [{\"title\":\"Bad
        request\",\"detail\":\"Invalid Zip Code.\",\"source\":\"API\"}]\n                }\n
        \           }\n        "
  recorded_at: Wed, 28 May 2025 13:31:51 GMT
recorded_with: VCR 6.3.1
