---
http_interactions:
- request:
    method: get
    uri: https://api.usps.com/addresses/v3/city-state?ZIPCode=27703
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Bearer
      Akamai-Grn:
      - 0.0fc0ce17.1748439111.5450177e
    body:
      encoding: UTF-8
      string: "\n            {\n                \"apiVersion\": \"/addresses/v3/\",\n
        \               \"error\": {\n                    \"code\": \"401\",\n                    \"message\":
        \"Missing or malformed access token.\",\n                    \"errors\": [{\"title\":\"invalid_token\",\"detail\":\"The
        access token presented with the request is missing or malformed (not a JWT).\",\"source\":\"Access
        Token\"}]\n                }\n            }\n        "
  recorded_at: Wed, 28 May 2025 13:31:51 GMT
recorded_with: VCR 6.3.1
