---
http_interactions:
- request:
    method: get
    uri: https://api.usps.com/addresses/v3/city-state?ZIPCode=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Akamai-Grn:
      - 0.0fc0ce17.1748439111.545016ca
    body:
      encoding: UTF-8
      string: "\n            {\n                \"apiVersion\": \"/addresses/v3/\",\n
        \               \"error\": {\n                    \"code\": \"400\",\n                    \"message\":
        \"OASValidation OpenAPI-Spec-Validation-Addresses-Request with resource oas://addresses_v3.yaml:
        failed with reason: [ERROR - Parameter 'ZIPCode' is required but is missing.:
        []]\",\n                    \"errors\": [{\"title\":\"openapi_validation_error\",\"detail\":\"The
        API request or response does not validate against the specification.\",\"source\":\"API\"}]\n
        \               }\n            }\n        "
  recorded_at: Wed, 28 May 2025 13:31:51 GMT
recorded_with: VCR 6.3.1
