# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2.1
jobs:
  test:
    parameters:
      ruby-version:
        type: string
    docker:
      # specify the version you desire here
       - image: cimg/ruby:<< parameters.ruby-version >>

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "friendly_shipping.gemspec" }}-<< parameters.ruby-version >>
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-

      - run:
          name: install dependencies
          command: |
            # Install newest Bundler 2.x (satisfies >= 2.1.4, < 3)
            gem install bundler -v "< 3" --no-document

            # Compute newest installed Bundler < 3 and persist it for later steps
            export CI_BUNDLER_VERSION="$(
              ruby -e 'require "rubygems";
                       v = Gem::Specification.find_all_by_name("bundler")
                             .map(&:version)
                             .select { |x| x < Gem::Version.new("3") }
                             .max
                       abort("No bundler < 3 installed") unless v
                       puts v'
            )"
            echo "export CI_BUNDLER_VERSION=${CI_BUNDLER_VERSION}" >> "$BASH_ENV"

            # Use the compatible Bundler explicitly
            bundle _${CI_BUNDLER_VERSION}_ --version
            bundle _${CI_BUNDLER_VERSION}_ config set path vendor/bundle
            bundle _${CI_BUNDLER_VERSION}_ install --jobs=4 --retry=3

      - save_cache:
          paths:
            - ./vendor/bundle
          key: v2-dependencies-{{ checksum "friendly_shipping.gemspec" }}-<< parameters.ruby-version >>

      - run:
          name: run Rubocop
          command: |
            source "$BASH_ENV"
            bundle _${CI_BUNDLER_VERSION}_ exec rubocop

      # run tests!
      - run:
          name: run tests
          command: |
            source "$BASH_ENV"
            mkdir /tmp/test-results
            TEST_FILES="$(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)"
            
            bundle _${CI_BUNDLER_VERSION}_ exec rspec \
              --format progress \
              --format RspecJunitFormatter \
              --out /tmp/test-results/rspec.xml \
              $TEST_FILES

      # collect reports
      - store_test_results:
          path: /tmp/test-results
      - store_artifacts:
          path: /tmp/test-results
          destination: test-results

workflows:
  build_and_test:
    jobs:
      - test:
          matrix:
            parameters:
              # https://github.com/CircleCI-Public/cimg-ruby
              # only supports the last three ruby versions
              ruby-version: ["3.3", "3.2", "3.1"]
