---
http_interactions:
- request:
    method: get
    uri: https://api.shipengine.com/v1/carriers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<SHIPENGINE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shipengine-Requestid:
      - 480b7869-9077-4e68-a28e-afbf22e03b1a
    body:
      encoding: UTF-8
      string: "{\r\n  \"carriers\": [\r\n    {\r\n      \"carrier_id\": \"se-76432\",\r\n
        \     \"carrier_code\": \"stamps_com\",\r\n      \"account_number\": \"mswimm-1717e.\",\r\n
        \     \"requires_funded_amount\": true,\r\n      \"balance\": 230.6200,\r\n
        \     \"nickname\": \"CS Stamps\",\r\n      \"friendly_name\": \"Stamps.com\",\r\n
        \     \"primary\": true,\r\n      \"has_multi_package_supporting_services\":
        false,\r\n      \"supports_label_messages\": true,\r\n      \"services\":
        [\r\n        {\r\n          \"carrier_id\": \"se-76432\",\r\n          \"carrier_code\":
        \"stamps_com\",\r\n          \"service_code\": \"usps_first_class_mail\",\r\n
        \         \"name\": \"USPS First Class Mail\",\r\n          \"domestic\":
        true,\r\n          \"international\": false,\r\n          \"is_multi_package_supported\":
        false\r\n        },\r\n        {\r\n          \"carrier_id\": \"se-76432\",\r\n
        \         \"carrier_code\": \"stamps_com\",\r\n          \"service_code\":
        \"usps_media_mail\",\r\n          \"name\": \"USPS Media Mail\",\r\n          \"domestic\":
        true,\r\n          \"international\": false,\r\n          \"is_multi_package_supported\":
        false\r\n        },\r\n        {\r\n          \"carrier_id\": \"se-76432\",\r\n
        \         \"carrier_code\": \"stam[...]
- request:
    method: post
    uri: https://api.shipengine.com/v1/rates/estimate
    body:
      encoding: UTF-8
      string: '{"carrier_ids":["se-76432","se-91692"],"from_country_code":"US","from_postal_code":"78756","to_country_code":"US","to_postal_code":"91521","to_city_locality":"Herndon","to_state_province":"IL","weight":{"value":5.852699859126819,"unit":"pound"},"confirmation":"none","address_residential_indicator":"no"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<SHIPENGINE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Shipengine-Requestid:
      - 1dd819f8-df30-4598-a946-c063800e781d
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"rate_type\": \"check\",\r\n    \"carrier_id\": \"se-76432\",\r\n
        \   \"shipping_amount\": {\r\n      \"currency\": \"usd\",\r\n      \"amount\":
        5.35\r\n    },\r\n    \"insurance_amount\": {\r\n      \"currency\": \"usd\",\r\n
        \     \"amount\": 0.0\r\n    },\r\n    \"confirmation_amount\": {\r\n      \"currency\":
        \"usd\",\r\n      \"amount\": 0.0\r\n    },\r\n    \"other_amount\": {\r\n
        \     \"currency\": \"usd\",\r\n      \"amount\": 0.0\r\n    },\r\n    \"zone\":
        6,\r\n    \"package_type\": \"package\",\r\n    \"delivery_days\": 7,\r\n
        \   \"guaranteed_service\": false,\r\n    \"estimated_delivery_date\": \"2019-06-07T00:00:00Z\",\r\n
        \   \"carrier_delivery_days\": \"6\",\r\n    \"ship_date\": \"2019-05-31T00:00:00Z\",\r\n
        \   \"negotiated_rate\": false,\r\n    \"service_type\": \"USPS Media Mail\",\r\n
        \   \"service_code\": \"usps_media_mail\",\r\n    \"trackable\": true,\r\n
        \   \"carrier_code\": \"stamps_com\",\r\n    \"carrier_nickname\": \"CS Stamps\",\r\n
        \   \"carrier_friendly_name\": \"Stamps.com\",\r\n    \"validation_status\":
        \"unknown\",\r\n    \"warning_messages\": [],\r\n    \"error_messages\": []\r\n
        \ },\r\n  {\r\n    \"rate_type\": \"check\",\r\n    \"carrier_id\": \"se-76432\",\r\n
        \   \"shipping_amount\": {\r\n      \"currency\": \"usd\",\r\n      \"amount\":
        17.68\r\n    },\r\n    \"insurance_amount\": {\r\n      \"currency\": \"usd\",\r\n
        \     \"amount\": 0.0\r\n    },\r\n    \"confirmation_amount\": {\r\n      \"currency\":
        \"usd\",\r\n      \"amount\": 0.0\r\n    },\r\n    \"other_amount\": {\r\n
        \     \"currency\": \"usd\",\r\[...]
