---
http_interactions:
- request:
    method: post
    uri: https://api.shipengine.com/v1/rates
    body:
      encoding: UTF-8
      string: '{"shipment":{"carrier_id":"%SHIPENGINE_CARRIER_ID%","service_code":"apc_priority_ddp_delcon","ship_to":{"name":"Jane
        Doe","phone":"555-555-0199","company_name":"Company","address_line1":"15 7
        Ave","address_line2":"Suite 100","city_locality":"Herndon","state_province":"AB","postal_code":"T0A3J0","country_code":"CA","address_residential_indicator":"No"},"ship_from":{"name":"Jane
        Doe","phone":"555-555-0199","company_name":"Company","address_line1":"11 Lovely
        Street","address_line2":"Suite 100","city_locality":"Herndon","state_province":"VA","postal_code":"78756","country_code":"US","address_residential_indicator":"No"},"items":[{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name":"Broom"},{"name[...]
