---
http_interactions:
- request:
    method: delete
    uri: https://apisandbox.rlc.com/PickupRequest
    body:
      encoding: UTF-8
      string: '{"PickupRequestId":1,"Reason":"Customer cancelled the order"}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "%RL_API_KEY%"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Code":200,"Errors":null,"Messages":[]}'
  recorded_at: Thu, 10 Sep 2026 14:53:00 GMT
recorded_with: VCR 6.4.0
