---
http_interactions:
- request:
    method: delete
    uri: https://wwwcie.ups.com/api/shipments/v1/void/cancel/1Z2220060292634221
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Bkndtransid:
      - ciewssoat2964MQZW9lfp6
      Apierrorcode:
      - '190102'
      Apierrormsg:
      - No shipment found within the allowed void period
      Content-Type:
      - application/json;charset=UTF-8
      Errorcode:
      - '190102'
      Errordescription:
      - No shipment found within the allowed void period
      Ak-Grn-1:
      - 0.6c622c17.1707499342.4eda72b4
    body:
      encoding: UTF-8
      string: '{"response":{"errors":[{"code":"190102","message":"No shipment found
        within the allowed void period"}]}}'
  recorded_at: Fri, 09 Feb 2024 17:22:22 GMT
recorded_with: VCR 6.1.0
