---
http_interactions:
- request:
    method: delete
    uri: https://wwwcie.ups.com/api/shipments/v1/void/cancel/1Z2220060290602143
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - iewssoat22964MHQ9y9zxT
      Content-Type:
      - application/json;charset=UTF-8
      Ak-Grn-1:
      - 0.6c622c17.1707499342.4eda6fb1
    body:
      encoding: UTF-8
      string: '{"VoidShipmentResponse":{"Response":{"ResponseStatus":{"Code":"1",
        "Description":"Success"}, "TransactionReference":{"CustomerContext":"Simple
        Customer Request", "TransactionIdentifier":"sxlhcXhZ7gc40ty6Rq"}}, "SummaryResult":{"Status":{"Code":"1",
        "Description":"Voided"}}}}'
  recorded_at: Fri, 09 Feb 2024 17:22:22 GMT
recorded_with: VCR 6.1.0
