---
http_interactions:
- request:
    method: post
    uri: https://api.rlc.com/RateQuote
    body:
      encoding: UTF-8
      string: '{"RateQuote":{"PickupDate":"08/02/2023","Origin":{"City":"Herndon","StateOrProvince":"IL","ZipOrPostalCode":"10001","CountryCode":"USA"},"Destination":{"City":"Herndon","StateOrProvince":"IL","ZipOrPostalCode":"10002","CountryCode":"USA"},"Items":[],"AdditionalServices":["Hazmat"],"Pallets":[{"Code":"0001","Weight":49,"Quantity":1}]}}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "%RL_API_KEY%"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"RateQuote":null,"Code":400,"Errors":[{"Property":"request.RateQuote.Items","ErrorMessage":"At
        least one Item is required","ExceptionMessage":""}],"Messages":[]}'
  recorded_at: Wed, 02 Aug 2023 15:59:54 GMT
recorded_with: VCR 6.1.0
