---
http_interactions:
- request:
    method: post
    uri: https://stg-secure.shippingapis.com/ShippingAPI.dll
    body:
      encoding: UTF-8
      string: API=Verify&XML=%3C%3Fxml+version%3D%221.0%22%3F%3E%0A%3CAddressValidateRequest+USERID%3D%22%USPS_LOGIN%%22%3E%0A++%3CAddress%3E%0A++++%3CAddress1%3ESuite 100%3C%2FAddress1%3E%0A++++%3CAddress2%3EEast+43nd+Street%3C%2FAddress2%3E%0A++++%3CCity%3ENew+York%3C%2FCity%3E%0A++++%3CState%3ENY%3C%2FState%3E%0A++++%3CZip5%3E27777%3C%2FZip5%3E%0A++++%3CZip4%2F%3E%0A++%3C%2FAddress%3E%0A%3C%2FAddressValidateRequest%3E%0A
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      X-Global-Transaction-Id:
      - '018fb36a5db863d008a39bbd'
      Ntcoent-Length:
      - '312'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <AddressValidateResponse><Address><Error><Number>-2147219403</Number><Source>clsAMS</Source><Description>Multiple addresses were found for the information you entered, and no default exists.</Description><HelpFile/><HelpContext/></Error></Address></AddressValidateResponse>
  recorded_at: Tue, 29 Oct 2019 16:07:44 GMT
recorded_with: VCR 5.0.0
