---
http_interactions:
- request:
    method: post
    uri: https://stg-secure.shippingapis.com/ShippingAPI.dll
    body:
      encoding: UTF-8
      string: API=Verify&XML=%3C%3Fxml+version%3D%221.0%22%3F%3E%0A%3CAddressValidateRequest+USERID%3D%22<USPS_LOGIN>%22%3E%0A++%3CAddress%3E%0A++++%3CAddress1%3ESouth%3C%2FAddress1%3E%0A++++%3CAddress2%3EPlatform+nine+and+a+half%3C%2FAddress2%3E%0A++++%3CCity%3ENew+York%3C%2FCity%3E%0A++++%3CState%3ENY%3C%2FState%3E%0A++++%3CZip5%3E10017%3C%2FZip5%3E%0A++++%3CZip4%2F%3E%0A++%3C%2FAddress%3E%0A%3C%2FAddressValidateRequest%3E%0A
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      X-Global-Transaction-Id:
      - 5a3857615d9d98df0e323f21
      Ntcoent-Length:
      - '247'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <AddressValidateResponse><Address><Error><Number>-2147219401</Number><Source>clsAMS</Source><Description>Address Not Found.  </Description><HelpFile/><HelpContext/></Error></Address></AddressValidateResponse>
  recorded_at: Wed, 09 Oct 2019 08:22:55 GMT
recorded_with: VCR 5.0.0
