---
http_interactions:
- request:
    method: post
    uri: https://stg-secure.shippingapis.com/ShippingAPI.dll
    body:
      encoding: UTF-8
      string: API=Verify&XML=%3C%3Fxml+version%3D%221.0%22%3F%3E%0A%3CAddressValidateRequest+USERID%3D%22%USPS_LOGIN%%22%3E%0A++%3CAddress%3E%0A++++%3CAddress1%3ESouth%3C%2FAddress1%3E%0A++++%3CAddress2%3E405+East+42nd+Street%3C%2FAddress2%3E%0A++++%3CCity%3ENew+York%3C%2FCity%3E%0A++++%3CState%3ENY%3C%2FState%3E%0A++++%3CZip5%3E10017%3C%2FZip5%3E%0A++++%3CZip4%2F%3E%0A++%3C%2FAddress%3E%0A%3C%2FAddressValidateRequest%3E%0A
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      X-Global-Transaction-Id:
      - 5a3857615db863cd129ec937
      Ntcoent-Length:
      - '425'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <AddressValidateResponse><Address><Address1>SOUTH</Address1><Address2>405 E 42ND ST</Address2><City>NEW YORK</City><State>NY</State><Zip5>10017</Zip5><Zip4>3507</Zip4><ReturnText>Default address: The address you entered was found but more information is needed (such as an apartment, suite, or box number) to match to a specific address.</ReturnText></Address></AddressValidateResponse>
  recorded_at: Tue, 29 Oct 2019 16:07:42 GMT
recorded_with: VCR 5.0.0
