---
http_interactions:
- request:
    method: post
    uri: https://api.shipengine.com/v-beta/ltl/connections/bogus
    body:
      encoding: UTF-8
      string: '{"credentials":{"username":"%UPS_LOGIN%","password":"%UPS_PASSWORD%","key":"%UPS_KEY%","account_number":"%UPS_SHIPPER_NUMBER%"}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "%SHIPENGINE_API_KEY%"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Remaining:
      - '18'
      Ratelimit-Reset:
      - '40'
      Ratelimit-Limit:
      - '20'
      Etag:
      - W/"96-oYV33IPGaL8OroIG7GklKTi5nDs"
      X-Shipengine-Requestid:
      - 467119ea-c79d-4dd7-a42e-14ba32b28961
      Deploy-Target:
      - bWFpbg
    body:
      encoding: UTF-8
      string: '{"request_id":"467119ea-c79d-4dd7-a42e-14ba32b28961","errors":[{"error_source":"carrier","error_type":"validation","message":"Invalid
        carrier SCAC"}]}'
  recorded_at: Mon, 06 Jun 2022 18:54:20 GMT
recorded_with: VCR 6.1.0
