---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/shipments/v2205/ship?additionaladdressvalidation=city
    body:
      encoding: UTF-8
      string: '{"ShipmentRequest":{"Request":{"RequestOption":"validate","SubVersion":"2205","TransactionReference":{"CustomerContext":"request-id-12345"}},"Shipment":{"Description":"","Service":{"Code":"03"},"Shipper":{"AttentionName":"John
        Doe","Name":"Company","ShipperNumber":"%UPS_SHIPPER_NUMBER%","Phone":{"Number":"555-555-0199"},"Address":{"AddressLine":["10
        Lovely Street"],"City":"Raleigh","PostalCode":"27615","StateProvinceCode":"NC","CountryCode":"US"}},"ShipTo":{"AttentionName":"Jane
        Doe","Name":"Company","Phone":{"Number":"555-555-0199"},"Address":{"AddressLine":["123
        Disney World Dr","Suite 100"],"City":"Orlanod","PostalCode":"32821","StateProvinceCode":"FL","CountryCode":"US","ResidentialAddressIndicator":"X"}},"ShipmentDate":"20240418","PaymentInformation":{"ShipmentCharge":[{"Type":"01","BillShipper":{"AccountNumber":"%UPS_SHIPPER_NUMBER%"}}]},"ShipmentRatingOptions":{"NegotiatedRatesIndicator":"X"},"ShipmentServiceOptions":{"UPScarbonneutralIndicator":"X","LabelDelivery":{"LabelLinksIndicator":"X"}},"Package":[{"Packaging":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.87","Width":"5.91","Height":"11.81"}},{"Packaging":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.87","Width":"5.91","Height":"11.81"}}]},"LabelSpecification":{"LabelImageFormat":{"Code":"ZPL"},"LabelStockSize":{"Width":"4","Height":"6"}}}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Bkndtransid:
      - xwssoas274l5TdLs5yJgpV
      Apierrorcode:
      - '120802'
      Apierrormsg:
      - Address Validation Error on ShipTo address
      Content-Type:
      - application/json;charset=UTF-8
      Errorcode:
      - '120802'
      Errordescription:
      - Address Validation Error on ShipTo address
      X-Accel-Buffering:
      - 'no'
      Ak-Grn-1:
      - 0.17853417.1713455860.28cb9b8b
    body:
      encoding: UTF-8
      string: '{"response":{"errors":[{"code":"120802","message":"Address Validation
        Error on ShipTo address"}]}}'
  recorded_at: Thu, 18 Apr 2024 15:57:40 GMT
recorded_with: VCR 6.1.0
