---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/shipments/v2205/ship
    body:
      encoding: UTF-8
      string: '{"ShipmentRequest":{"Request":{"RequestOption":"validate","SubVersion":"2205","TransactionReference":{"CustomerContext":"request-id-12345"}},"Shipment":{"Description":"","Service":{"Code":"03"},"Shipper":{"AttentionName":"John
        Doe","Name":"Company","ShipperNumber":"%UPS_SHIPPER_NUMBER%","Phone":{"Number":"555-555-0199"},"Address":{"AddressLine":["10
        Lovely Street"],"City":"Raleigh","PostalCode":"27615","StateProvinceCode":"NC","CountryCode":"US"}},"ShipTo":{"AttentionName":"Jane
        Doe","Name":"Company","Phone":{"Number":"555-555-0199"},"Address":{"AddressLine":["xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","Suite
        100"],"City":"Orlando","PostalCode":"32821","StateProvinceCode":"FL","CountryCode":"US","ResidentialAddressIndicator":"X"}},"ShipmentDate":"20240209","PaymentInformation":{"ShipmentCharge":[{"Type":"01","BillShipper":{"AccountNumber":"%UPS_SHIPPER_NUMBER%"}}]},"ShipmentRatingOptions":{"NegotiatedRatesIndicator":"X"},"ShipmentServiceOptions":{"UPScarbonneutralIndicator":"X","LabelDelivery":{"LabelLinksIndicator":"X"}},"Package":[{"Packaging":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{},"Description":"","Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}},{"Packaging":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{},"Description":"","Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}}]},"LabelSpecification":{"LabelImageFormat":{"Code":"ZPL"},"LabelStockSize":{"Width":"4","Height":"6"}}}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Bkndtransid:
      - ciewssoat295Bs5TnQjt3W
      Apierrorcode:
      - '120202'
      Apierrormsg:
      - Missing or invalid ship to address line 1
      Content-Type:
      - application/json;charset=UTF-8
      Errorcode:
      - '120202'
      Errordescription:
      - Missing or invalid ship to address line 1
      Ak-Grn-1:
      - 0.0d5d1cb8.1707495782.af938bd
    body:
      encoding: UTF-8
      string: '{"response":{"errors":[{"code":"120202","message":"Missing or invalid
        ship to address line 1"}]}}'
  recorded_at: Fri, 09 Feb 2024 16:23:02 GMT
recorded_with: VCR 6.1.0
