---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/shipments/v2205/ship
    body:
      encoding: UTF-8
      string: '{"ShipmentRequest":{"Request":{"RequestOption":"validate","SubVersion":"2205","TransactionReference":{"CustomerContext":"request-id-12345"}},"Shipment":{"Description":"","Service":{"Code":"03"},"Shipper":{"AttentionName":"John
        Doe","Name":"Company","ShipperNumber":"%UPS_SHIPPER_NUMBER%","Phone":{"Number":"555-555-0199"},"Address":{"AddressLine":["10
        Lovely Street"],"City":"Raleigh","PostalCode":"27615","StateProvinceCode":"NC","CountryCode":"US"}},"ShipTo":{"AttentionName":"Jane
        Doe","Name":"Company","Phone":{"Number":"555-555-0199"},"Address":{"AddressLine":["2838
        Wake Forest Rd","\bApartment 7"],"City":"Raleigh","PostalCode":"27609","StateProvinceCode":"NC","CountryCode":"US"}},"ShipmentDate":"20240401","PaymentInformation":{"ShipmentCharge":[{"Type":"01","BillShipper":{"AccountNumber":"%UPS_SHIPPER_NUMBER%"}}]},"ShipmentRatingOptions":{"NegotiatedRatesIndicator":"X"},"ShipmentServiceOptions":{"UPScarbonneutralIndicator":"X","LabelDelivery":{"LabelLinksIndicator":"X"}},"Package":[{"Packaging":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}},{"Packaging":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}}]},"LabelSpecification":{"LabelImageFormat":{"Code":"ZPL"},"LabelStockSize":{"Width":"4","Height":"6"}}}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - iewssoat2416CTHJYk4f8N
      Apierrorcode:
      - '1'
      Apierrormsg:
      - The request is not valid. Review for errors before re-submitting.
      Content-Type:
      - application/json
      Errorcode:
      - '1'
      Errordescription:
      - The request is not valid. Review for errors before re-submitting.
      Ak-Grn-1:
      - 0.0d5d1cb8.1711992495.1247140
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 01 Apr 2024 17:28:15 GMT
recorded_with: VCR 6.1.0
