---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/rating/v1707/Shop
    body:
      encoding: UTF-8
      string: '{"RateRequest":{"Request":{"RequestOption":"Shop","SubVersion":"v1707","TransactionReference":{"CustomerContext":null}},"PickupType":{"Code":"01"},"CustomerClassification":{"Code":"01"},"Shipment":{"Shipper":{"AttentionName":"Jane
        Doe","Name":"Company","ShipperNumber":"%UPS_SHIPPER_NUMBER%","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"78756","StateProvinceCode":"VA","CountryCode":"US","ResidentialAddressIndicator":"T"}},"ShipTo":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"32821","StateProvinceCode":"FL","CountryCode":"US","ResidentialAddressIndicator":"T"}},"ShipFrom":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"78756","StateProvinceCode":"VA","CountryCode":"US","ResidentialAddressIndicator":"T"}},"PaymentDetails":{"ShipmentCharge":[{"Type":"01","BillShipper":{"AccountNumber":"%UPS_SHIPPER_NUMBER%"}}]},"NumOfPieces":2,"Package":[{"PackagingType":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{"DeclaredValue":{"CurrencyCode":"USD","MonetaryValue":"0"}},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}},{"PackagingType":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{"DeclaredValue":{"CurrencyCode":"USD","MonetaryValue":"0"}},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}}]},"ShipmentRatingOptions":{"NegotiatedRatesIndicator":"2"}}}'
    headers:
      Authorization:
      - Bearer %UPS_ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Bkndtransid:
      - ciewssoas1l5xVgFPyDlQk
      Apierrorcode:
      - '111285'
      Apierrormsg:
      - The postal code 78756 is invalid for VA United States.
      Content-Type:
      - application/json;charset=UTF-8
      Errorcode:
      - '111285'
      Errordescription:
      - The postal code 78756 is invalid for VA United States.
      Ak-Grn-1:
      - 0.c9cf5868.1705594622.1818ee26
    body:
      encoding: UTF-8
      string: '{"response":{"errors":[{"code":"111285","message":"The postal code
        78756 is invalid for VA United States."}]}}'
  recorded_at: Thu, 18 Jan 2024 16:17:03 GMT
recorded_with: VCR 6.1.0
