---
http_interactions:
  - request:
      method: post
      uri: https://wwwcie.ups.com/api/rating/v2205/Shop
      body:
        encoding: UTF-8
        string: '{"RateRequest":{"Request":{"RequestOption":"Shop","SubVersion":"v1707","TransactionReference":{"CustomerContext":null}},"PickupType":{"Code":"01"},"CustomerClassification":{"Code":"01"},"Shipment":{"Shipper":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"27703","StateProvinceCode":"NC","CountryCode":"US","ResidentialAddressIndicator":"T"}},"ShipTo":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"32821","StateProvinceCode":"FL","CountryCode":"US","ResidentialAddressIndicator":"T"}},"ShipFrom":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"27703","StateProvinceCode":"NC","CountryCode":"US","ResidentialAddressIndicator":"T"}},"PaymentDetails":{"ShipmentCharge":[{"Type":"01","BillShipper":{"AccountNumber":"12345"}}]},"NumOfPieces":2,"Package":[{"PackagingType":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{"DeclaredValue":{"CurrencyCode":"USD","MonetaryValue":"0"}},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}},{"PackagingType":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{"DeclaredValue":{"CurrencyCode":"USD","MonetaryValue":"0"}},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}}]},"ShipmentRatingOptions":{"NegotiatedRatesIndicator":"2"}}}'
      headers:
        Authorization:
          - Bearer %UPS_ACCESS_TOKEN%
        Content-Type:
          - application/json
    response:
      status:
        code: 400
        message: Bad Request
      headers:
        Bkndtransid:
          - iewssoat21k8DNPqgXkNjw
        Apierrorcode:
          - '112111'
        Apierrormsg:
          - Missing or Invalid Shipper Number.
        Content-Type:
          - application/json;charset=UTF-8
        Errorcode:
          - '112111'
        Errordescription:
          - Missing or Invalid Shipper Number.
        Ak-Grn-1:
          - 0.2d5d1cb8.1705530845.6d1e7cc
      body:
        encoding: UTF-8
        string: '{"response":{"errors":[{"code":"112111","message":"Missing or Invalid
        Shipper Number."}]}}'
    recorded_at: Wed, 17 Jan 2024 22:34:06 GMT
recorded_with: VCR 6.1.0
