---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/rating/v2205/Rate
    body:
      encoding: UTF-8
      string: '{"RateRequest":{"PickupType":{"Code":"01"},"CustomerClassification":{"Code":"00"},"Shipment":{"Shipper":{"AttentionName":"Jane
        Doe","Name":"Company","ShipperNumber":"%UPS_SHIPPER_NUMBER%","PhoneNumber":"555-555-0199","Address":{"AddressLine":[],"City":"Reno","PostalCode":"89502","StateProvinceCode":"NV","CountryCode":"US"}},"ShipTo":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine":["1
        Richland Ave"],"City":"San Francisco","PostalCode":"94110","StateProvinceCode":"CA","CountryCode":"US","ResidentialAddressIndicator":"X"}},"ShipFrom":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine":[],"City":"Reno","PostalCode":"89502","StateProvinceCode":"NV","CountryCode":"US"}},"PaymentDetails":{"ShipmentCharge":[{"Type":"01","BillShipper":{"AccountNumber":"%UPS_SHIPPER_NUMBER%"}}]},"NumOfPieces":2,"Package":[{"PackagingType":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{"DeclaredValue":{"CurrencyCode":"USD","MonetaryValue":"0"}},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}},{"PackagingType":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{"DeclaredValue":{"CurrencyCode":"USD","MonetaryValue":"0"}},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}}]},"ShipmentRatingOptions":{"NegotiatedRatesIndicator":"2"}}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - iewssoat21r6GslRq0Fzrr
      Content-Type:
      - application/json;charset=UTF-8
      Ak-Grn-1:
      - 0.b7133617.1706034856.fc2eab9
    body:
      encoding: UTF-8
      string: '{"RateResponse":{"Response":{"ResponseStatus":{"Code":"1", "Description":"Success"},
        "Alert":[{"Code":"111730", "Description":"Invalid Date. Changed to today''s
        date"}, {"Code":"110971", "Description":"Your invoice may vary from the displayed
        reference rates"}, {"Code":"112237", "Description":"Modifier is applied on
        Package(s);"}], "TransactionReference":""}, "RatedShipment":[{"Service":{"Code":"13",
        "Description":""}, "RatedShipmentAlert":[{"Code":"111730", "Description":"Invalid
        Date. Changed the pickup date"}, {"Code":"110971", "Description":"Your invoice
        may vary from the displayed reference rates"}], "BillingWeight":{"UnitOfMeasurement":{"Code":"LBS",
        "Description":"Pounds"}, "Weight":"10.0"}, "TransportationCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"168.74"}, "BaseServiceCharge":{"CurrencyCode":"USD", "MonetaryValue":"0.00"},
        "ItemizedCharges":{"Code":"270", "CurrencyCode":"USD", "MonetaryValue":"12.40"},
        "ServiceOptionsCharges":{"CurrencyCode":"USD", "MonetaryValue":"0.00"}, "TotalCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"168.74"}, "GuaranteedDelivery":{"BusinessDaysInTransit":"1"},
        "RatedPackage":[{"TransportationCharges":{"CurrencyCode":"USD", "MonetaryValue":"84.37"},
        "BaseServiceCharge":{"CurrencyCode":"USD", "MonetaryValue":"60.68"}, "ServiceOptionsCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"0.00"}, "ItemizedCharges":[{"Code":"376", "CurrencyCode":"USD",
        "MonetaryValue":"5.85", "SubType":"Rural"}, {"Code":"400", "CurrencyCode":"USD",
        "MonetaryValue":"0.00", "SubType":"EVS"}, {"Code":"375", "CurrencyCode":"USD",
        "MonetaryValue":"11.64"}], "TotalCharges":{"CurrencyCode":"USD", "MonetaryValue":"84.37"},
        "Weight":"1.0", "BillingWeight":{"UnitOfMeasurement":{"Code":"LBS", "Description":"Pounds"},
        "Weight":"5.0"}}, {"TransportationCharges":{"CurrencyCode":"USD", "MonetaryValue":"84.37"},
        "BaseServiceCharge":{"CurrencyCode":"USD", "MonetaryValue"[...]
