---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/rating/v2205/Shop
    body:
      encoding: UTF-8
      string: '{"RateRequest":{"Request":{"RequestOption":"Shop","SubVersion":"v2205","TransactionReference":{"CustomerContext":null}},"PickupType":{"Code":"01"},"CustomerClassification":{"Code":"01"},"Shipment":{"Shipper":{"AttentionName":"Jane
        Doe","Name":"Company","ShipperNumber":"Y9319W","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"27703","StateProvinceCode":"NC","CountryCode":"US","ResidentialAddressIndicator":"T"}},"ShipTo":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"32821","StateProvinceCode":"FL","CountryCode":"US","ResidentialAddressIndicator":"T"}},"ShipFrom":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"27703","StateProvinceCode":"NC","CountryCode":"US","ResidentialAddressIndicator":"T"}},"PaymentDetails":{"ShipmentCharge":[{"Type":"01","BillShipper":{"AccountNumber":"Y9319W"}}]},"NumOfPieces":2,"Package":[{"PackagingType":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{"DeclaredValue":{"CurrencyCode":"USD","MonetaryValue":"0"}},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}},{"PackagingType":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{"DeclaredValue":{"CurrencyCode":"USD","MonetaryValue":"0"}},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}}]},"ShipmentRatingOptions":{"NegotiatedRatesIndicator":"2"}}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - iewssoat21k8Gm6jdpcCkd
      Content-Type:
      - application/json;charset=UTF-8
      Ak-Grn-1:
      - 0.17321cb8.1705531065.1412b7d1
    body:
      encoding: UTF-8
      string: '{"RateResponse":{"Response":{"ResponseStatus":{"Code":"1", "Description":"Success"},
        "Alert":[{"Code":"110971", "Description":"Your invoice may vary from the displayed
        reference rates"}], "TransactionReference":""}, "RatedShipment":[{"Service":{"Code":"01",
        "Description":""}, "RatedShipmentAlert":{"Code":"110971", "Description":"Your
        invoice may vary from the displayed reference rates"}, "BillingWeight":{"UnitOfMeasurement":{"Code":"LBS",
        "Description":"Pounds"}, "Weight":"10.0"}, "TransportationCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"261.10"}, "BaseServiceCharge":{"CurrencyCode":"USD", "MonetaryValue":"0.00"},
        "ItemizedCharges":{"Code":"270", "CurrencyCode":"USD", "MonetaryValue":"12.40"},
        "ServiceOptionsCharges":{"CurrencyCode":"USD", "MonetaryValue":"0.00"}, "TotalCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"261.10"}, "GuaranteedDelivery":{"BusinessDaysInTransit":"1",
        "DeliveryByTime":"10:30 A.M."}, "RatedPackage":[{"TransportationCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"130.55"}, "BaseServiceCharge":{"CurrencyCode":"USD", "MonetaryValue":"106.34"},
        "ServiceOptionsCharges":{"CurrencyCode":"USD", "MonetaryValue":"0.00"}, "ItemizedCharges":[{"Code":"400",
        "CurrencyCode":"USD", "MonetaryValue":"0.00", "SubType":"EVS"}, {"Code":"375",
        "CurrencyCode":"USD", "MonetaryValue":"18.01"}], "TotalCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"130.55"}, "Weight":"1.0", "BillingWeight":{"UnitOfMeasurement":{"Code":"LBS",
        "Description":"Pounds"}, "Weight":"5.0"}}, {"TransportationCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"130.55"}, "BaseServiceCharge":{"CurrencyCode":"USD", "MonetaryValue":"106.34"},
        "ServiceOptionsCharges":{"CurrencyCode":"USD", "MonetaryValue":"0.0[...]
