---
http_interactions:
- request:
    method: post
    uri: https://api.shipengine.com/v1/labels
    body:
      encoding: UTF-8
      string: '{"label_format":"pdf","label_download_type":"url","shipment":{"service_code":"apc_priority_ddp_delcon","ship_to":{"name":"Jane
        Doe","phone":"555-555-0199","company_name":"Company","address_line1":"15 7
        Ave","address_line2":"South","city_locality":"Herndon","state_province":"AB","postal_code":"T0A3J0","country_code":"CA","address_residential_indicator":"No"},"ship_from":{"name":"Jane
        Doe","phone":"555-555-0199","company_name":"Company","address_line1":"11 Lovely
        Street","address_line2":"South","city_locality":"Herndon","state_province":"IL","postal_code":"78756","country_code":"US","address_residential_indicator":"No"},"packages":[{"weight":{"value":342.24208030659776,"unit":"ounce"},"label_messages":{},"package_code":null,"dimensions":{"unit":"inch","width":5.91,"length":7.87,"height":11.81}}],"carrier_id":null,"customs":{"contents":"merchandise","non_delivery":"return_to_sender","customs_items":[{"sku":null,"description":"Broom","quantity":3,"value":{"amount":"25.0","currency":"USD"},"harmonized_tariff_code":null,"country_of_origin":null}]}},"test_label":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - ''
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Response-Condition:
      - condition-6622
      X-Shipengine-Requestid:
      - 36524513-b4a4-48c0-9a3d-113e97ee35af
      Branch-Name:
      - bWFpbg
    body:
      encoding: UTF-8
      string: '{"request_id":"36524513-b4a4-48c0-9a3d-113e97ee35af","errors":[{"method":"POST","error_type":"security","path":"/v1/labels","message":"Access
        denied.","error_code":"unauthorized","error_source":"shipengine"}]}'
  recorded_at: Tue, 07 Nov 2023 22:00:42 GMT
recorded_with: VCR 6.1.0
