---
http_interactions:
- request:
    method: post
    uri: https://api.tforcefreight.com/rating/getRate?api-version=v1
    body:
      encoding: UTF-8
      string: '{"requestOptions":{"serviceCode":"308","pickupDate":"2024-04-11","type":"L","densityEligible":false,"gfpOptions":{"accessorialRate":false},"timeInTransit":true,"quoteNumber":false,"customerContext":"order-12345"},"shipFrom":{"address":{"city":"Richmond","stateProvinceCode":"VA","postalCode":"23224","country":"US"}},"shipTo":{"address":{"city":"Allanton","stateProvinceCode":"MO","country":"US"}},"payment":{"payer":{"address":{"city":"Durham","stateProvinceCode":"NC","postalCode":"27703","country":"US"}},"billingCode":"10"},"serviceOptions":{"pickup":[],"delivery":[]},"commodities":[{"description":"Commodities","class":"92.5","nmfc":{"prime":"16030","sub":"1"},"pieces":1,"weight":{"weight":500.0,"weightUnit":"LBS"},"packagingType":"CTN","dangerousGoods":false,"dimensions":{"length":0.0,"width":0.0,"height":0.0,"unit":"IN"}},{"description":"Commodities","class":"92.5","nmfc":{"prime":"16030","sub":"1"},"pieces":1,"weight":{"weight":500.0,"weightUnit":"LBS"},"packagingType":"PLT","dangerousGoods":false,"dimensions":{"length":0.0,"width":0.0,"height":0.0,"unit":"IN"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{ "statusCode": 400, "message": "Body of the request does not conform
        to the definition which is associated with the content type application/json.
        Required properties are missing from object: postalCode. Line: 1, Position:
        396" }'
  recorded_at: Thu, 11 Apr 2024 14:08:24 GMT
recorded_with: VCR 6.1.0
