---
http_interactions:
- request:
    method: post
    uri: https://api.tforcefreight.com/rating/getRate?api-version=cie-v1
    body:
      encoding: UTF-8
      string: '{"requestOptions":{"serviceCode":"308","pickupDate":"2023-12-06","type":"L","densityEligible":false,"gfpOptions":{"accessorialRate":false},"timeInTransit":true,"quoteNumber":false,"customerContext":"order-12345"},"shipFrom":{"address":{"city":"Richmond","stateProvinceCode":"VA","postalCode":"23224","country":"US"}},"shipTo":{"address":{"city":"Eureka","stateProvinceCode":"MO","postalCode":"63025","country":"US"}},"payment":{"payer":{"address":{"city":"Durham","stateProvinceCode":"NC","postalCode":"27703","country":"US"}},"billingCode":"10"},"serviceOptions":{"pickup":["INPU","LIFO"],"delivery":["INDE","LIFD"]},"commodities":[{"class":"92.5","nmfc":{"prime":"16030","sub":"1"},"pieces":1,"weight":{"weight":500.0,"weightUnit":"LBS"},"packagingType":"CTN","dangerousGoods":false,"dimensions":{"length":0.0,"width":0.0,"height":0.0,"unit":"inches"}},{"class":"92.5","nmfc":{"prime":"16030","sub":"1"},"pieces":1,"weight":{"weight":500.0,"weightUnit":"LBS"},"packagingType":"PLT","dangerousGoods":false,"dimensions":{"length":0.0,"width":0.0,"height":0.0,"unit":"inches"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer secret-token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"summary":{"responseStatus":{"code":"PRT","message":"1 of 3 Rate(s)
        returned."},"transactionReference":{"transactionId":"140fdff5-3df5-419e-bc3f-84b781f55cc9"},"classDensityIndicatior":"CC"},"detail":[{"detailStatus":{"code":"1","message":"success"},"alerts":[{"code":"688","message":"FBR688:
        FULL RATES RETURNED. CUSTOMER COULD NOT BE FOUND FOR THAT ZIP CODE."}],"service":{"code":"308","description":"LTL"},"rate":[{"code":"DSCNT","description":"Discount","value":"1987.05","unit":"USD"},{"code":"DSCNT_RATE","description":"Discount
        Rate","value":"75.00","unit":"%"},{"code":"INDE","description":"INSIDE_DL","value":"169.00","unit":"USD"},{"code":"INPU","description":"INSIDE_PU","value":"169.00","unit":"USD"},{"code":"LIFD","description":"LIFT_GATE_DL","value":"175.00","unit":"USD"},{"code":"LIFO","description":"LIFT_GATE_PU","value":"175.00","unit":"USD"},{"code":"FUEL_SUR","description":"Fuel
        Surcharge Fee","value":"223.21","unit":"USD"},{"code":"LND_GROSS","description":"LND_GROSS","value":"2649.40","unit":"USD"},{"code":"AFTR_DSCNT","description":"AFTR_DSCNT","value":"662.35","unit":"USD"}],"commodities":[{"description":"MISC","weight":{"weight":"500","adjustedWeight":"500","weightUnit":"LBS"}},{"description":"MISC","weight":{"weight":"500","adjustedWeight":"500","weightUnit":"LBS"}}],"shipmentCharges":{"total":{"value":"1573.56","currency":"USD"}},"shipmentWeights":{"billable":{"value":"1000","unit":"LBS"}},"timeInTransit":{"timeInTransit":"3","unit":"DAY"}},{"detailStatus":{"code":"NFO","message":"Rate
        not found."},"service":{"code":"309","description":"GRTD"},"rate":[]},{"detailStatus":{"code":"NFO","message":"Rate
        not found."},"service":{"code":"334","description":"GRAM"},"rate":[]}],"customerContext":"order-12345"}'
  recorded_at: Wed, 06 Dec 2023 21:25:14 GMT
recorded_with: VCR 6.1.0
