---
http_interactions:
- request:
    method: post
    uri: https://api.tforcefreight.com/rating/getRate?api-version=v1
    body:
      encoding: UTF-8
      string: '{"requestOptions":{"serviceCode":"308","pickupDate":"2024-04-11","type":"L","densityEligible":false,"gfpOptions":{"accessorialRate":false},"timeInTransit":true,"quoteNumber":false,"customerContext":"order-12345"},"shipFrom":{"address":{"city":"Richmond","stateProvinceCode":"VA","postalCode":"23224","country":"US"}},"shipTo":{"address":{"city":"Eureka","stateProvinceCode":"MO","postalCode":"63025","country":"US"}},"payment":{"payer":{"address":{"city":"Durham","stateProvinceCode":"NC","postalCode":"27703","country":"US"}},"billingCode":"10"},"serviceOptions":{"pickup":[],"delivery":[]},"commodities":[{"description":"Commodities","class":"92.5","nmfc":{"prime":"16030","sub":"1"},"pieces":1,"weight":{"weight":500.0,"weightUnit":"LBS"},"packagingType":"CTN","dangerousGoods":false,"dimensions":{"length":0.0,"width":0.0,"height":0.0,"unit":"IN"}},{"description":"Commodities","class":"92.5","nmfc":{"prime":"16030","sub":"1"},"pieces":1,"weight":{"weight":500.0,"weightUnit":"LBS"},"packagingType":"PLT","dangerousGoods":false,"dimensions":{"length":0.0,"width":0.0,"height":0.0,"unit":"IN"}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"summary":{"responseStatus":{"code":"OK","message":"2 Service Rate(s)
        returned."},"transactionReference":{"transactionId":"9a27397d-d438-4130-a888-767be0537f4b"},"classDensityIndicatior":"CC","minimumChargesApplied":"false","customerContext":"order-12345","isRegisteredUser":"true","publishedRates":true},"detail":[{"detailStatus":{"code":"1","message":"success"},"alerts":[{"code":"688","message":"FBR688:
        FULL RATES RETURNED. CUSTOMER COULD NOT BE FOUND FOR THAT ZIP CODE."}],"service":{"code":"308","description":"TForce
        Freight LTL"},"rate":[{"code":"DSCNT","description":"Discount","value":"1987.05","unit":"USD"},{"code":"DSCNT_RATE","description":"Discount
        Rate","value":"75.00","unit":"%"},{"code":"FUEL_SUR","description":"Fuel Surcharge
        Fee","value":"221.22","unit":"USD"},{"code":"LND_GROSS","description":"LND_GROSS","value":"2649.40","unit":"USD"},{"code":"AFTR_DSCNT","description":"AFTR_DSCNT","value":"662.35","unit":"USD"}],"commodities":[{"description":"MISC","weight":{"weight":"500","adjustedWeight":"500","weightUnit":"LBS"}},{"description":"MISC","weight":{"weight":"500","adjustedWeight":"500","weightUnit":"LBS"}}],"shipmentCharges":{"total":{"value":"883.57","currency":"USD"}},"shipmentWeights":{"billable":{"value":"1000","unit":"LBS"}},"serviceCenter":{"origin":{"code":"RIC","name":"RICHMOND"},"destination":{"code":"STL","name":"SAINT
        LOUIS"}},"ratedAs":[{"class":"92.5","weight":"500"},{"class":"92.5","weight":"500"}],"timeInTransit":{"timeInTransit":"3","unit":"DAY"}},{"detailStatus":{"code":"1","message":"success"},"alerts":[{"code":"688","message":"FBR688:
        FULL RATES RETURNED. CUSTOMER COULD NOT BE FOUND FOR THAT ZIP CODE."}],"service":{"code":"309","description":"TForce
        Freight Guaranteed"},"rate":[{"code":"DSCNT","description":"Discount","value":"1987.05","unit":"USD"},{"code":"DSCNT_RATE","description":"Discount
        Rate","value":"75.00","unit":"%"},{"code":"GRTD_SUR","description":"Guaranteed
        Service","value":"165.59","unit":"USD"},{"code":"FUEL_SUR","description":"Fuel
        Surcharge Fee","value":"276.53","unit":"USD"},{"code":"LND_GROSS","description":"LND_GROSS","value":"2649.40","unit":"USD"},{"code":"AFTR_DSCNT","description":"AFTR_DSCNT","value":"662.35","unit":"USD"}],"commodities":[{"description":"MISC","weight":{"weight":"500","adjustedWeight":"500","weightUnit":"LBS"}},{"description":"MISC","weight":{"weight":"500","adjustedWeight":"500","weightUnit":"LBS"}}],"shipmentCharges":{"total":{"value":"1104.47","currency":"USD"}},"shipmentWeights":{"billable":{"value":"1000","unit":"LBS"}},"serviceCenter":{"origin":{"code":"RIC","name":"RICHMOND"},"destination":{"code":"STL","name":"SAINT
        LOUIS"}},"ratedAs":[{"class":"92.5","weight":"500"},{"class":"92.5","weight":"500"}],"timeInTransit":{"timeInTransit":"3","unit":"DAY"},"isGuaranteed":"true"}]}'
  recorded_at: Thu, 11 Apr 2024 13:46:42 GMT
recorded_with: VCR 6.1.0
