---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/rest/FreightRate
    body:
      encoding: UTF-8
      string: '{"FreightRateRequest":{"Request":{"TransactionReference":{"CustomerContext":"order-12345"}},"ShipFrom":{"Name":"Developer
        Test 1","Address":{"AddressLine":"01 Developer Way","City":"Richmond","StateProvinceCode":"VA","PostalCode":"23224","CountryCode":"US"}},"ShipTo":{"Name":"Consignee
        Test 1","Address":{"AddressLine":"000 Consignee Street","City":"Allanton","StateProvinceCode":"MO","PostalCode":"63025","CountryCode":"US"}},"PaymentInformation":{"Payer":{"Name":"Acme
        Co.","Address":{"AddressLine":"Far away on the outer rim","City":"Durham","StateProvinceCode":"NC","PostalCode":"27703","CountryCode":"US"},"AttentionName":"Test
        Testman","ShipperNumber":null},"ShipmentBillingOption":{"Code":"10"}},"Service":{"Code":"308"},"Commodity":[{"Description":"Commodities","Weight":{"UnitOfMeasurement":{"Code":"LBS"},"Value":"500.0"},"NumberOfPieces":"1","PackagingType":{"Code":"CTN"},"FreightClass":"92.5"},{"Description":"Commodities","Weight":{"UnitOfMeasurement":{"Code":"LBS"},"Value":"500.0"},"NumberOfPieces":"1","PackagingType":{"Code":"PLT"},"FreightClass":"92.5"}],"TimeInTransitIndicator":"true","HandlingUnitOne":{"Quantity":"2","Type":{"Code":"PLT","Description":"Pallet"}}}}'
    headers:
      Username:
      - "%UPS_LOGIN%"
      Password:
      - "%UPS_PASSWORD%"
      Accesslicensenumber:
      - "%UPS_KEY%"
  response:
    status:
      code: 200
      message: OK
    headers:
      Apierrormsg:
      - Invalid Access License number
      Apihttpstatus:
      - '401'
      Apierrorcode:
      - '250003'
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"Fault":{"faultcode":"Client", "faultstring":"An exception has been
        raised as a result of client data.", "detail":{"Errors":{"ErrorDetail":{"Severity":"Authentication",
        "PrimaryErrorCode":{"Code":"250003", "Description":"Invalid Access License
        number"}, "Location":{"LocationElementName":""}, "SubErrorCode":{"Code":"01",
        "Description":"Missing required element"}}}}}}'
  recorded_at: Wed, 03 Jun 2020 23:30:16 GMT
recorded_with: VCR 5.0.0
