---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/Void
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>%UPS_KEY%</AccessLicenseNumber>
          <UserId>%UPS_LOGIN%</UserId>
          <Password>%UPS_PASSWORD%</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <VoidShipmentRequest>
          <Request>
            <RequestAction>Void</RequestAction>
          </Request>
          <ShipmentIdentificationNumber>1Z12345E0390817264</ShipmentIdentificationNumber>
        </VoidShipmentRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Apihttpstatus:
      - '200'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?><VoidShipmentResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><Status>
        <StatusType>
        <Code>1</Code>
        <Description>Success</Description>
        </StatusType>
        <StatusCode>
        <Code>1</Code>
        <Description>Success</Description>
        </StatusCode>
        </Status>
        </VoidShipmentResponse>
  recorded_at: Thu, 28 Nov 2019 16:44:44 GMT
recorded_with: VCR 5.0.0
