---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/shipments/v1/transittimes
    body:
      encoding: UTF-8
      string: '{"originCountryCode":"US","originStateProvince":"NC","originCityName":"Raleigh","originPostalCode":"27615","destinationCountryCode":"US","destinationStateProvince":"CA","destinationCityName":"Los
        Angeles","destinationPostalCode":"90210","residentialIndicator":"01","shipDate":"2024-03-22","shipmentContentsCurrencyCode":"USD","shipmentContentsValue":"0.0","weight":"0.55404","weightUnitOfMeasure":"LBS","billType":"02","numberOfPackages":"2"}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
      Transid:
      - 5736119c-c099-4dd4-b5ff-a7e3abdcf76f
      Transactionsrc:
      - testing
  response:
    status:
      code: 206
      message: Partial Content
    headers:
      Bkndtransid:
      - 5736119c-c099-4dd4-b5ff-a7e3abdcf76f
      Apierrorcode:
      - '1070'
      Apierrormsg:
      - "[DestinationCityName] Validation error DestinationCityName"
      Content-Type:
      - application/json
      Errorcode:
      - '1070'
      Errordescription:
      - "[DestinationCityName] Validation error DestinationCityName"
      Ak-Grn-1:
      - 0.86a64668.1711120289.5943cd45
    body:
      encoding: UTF-8
      string: '{"validationList":{"invalidFieldList":["DestinationCityName"],"destinationAmbiguous":true,"originAmbiguous":false,"invalidFieldListCodes":["1070"]},"destinationPickList":[{"countryName":"UNITED
        STATES","countryCode":"US","stateProvince":"TX","city":"LOS ANGELES","postalCode":"78014","postalCodeLow":"78014","postalCodeHigh":"78014"},{"countryName":"UNITED
        STATES","countryCode":"US","stateProvince":"CA","city":"LOS ANGELES","postalCode":"90230","postalCodeLow":"90230","postalCodeHigh":"90230"},{"countryName":"UNITED
        STATES","countryCode":"US","stateProvince":"CA","city":"LOS ANGELES","postalCode":"90090","postalCodeLow":"90090","postalCodeHigh":"90090"},{"countryName":"UNITED
        STATES","countryCode":"US","stateProvince":"CA","city":"LOS ANGELES","postalCode":"90001","postalCodeLow":"90001","pos[...]
