---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/shipments/v1/transittimes
    body:
      encoding: UTF-8
      string: '{"originCountryCode":"US","originStateProvince":{"type":"state","code":"NC","name":"North
        Carolina","subregions":[]},"originCityName":"Raleigh","originPostalCode":"27615","destinationCountryCode":"US","destinationStateProvince":{"type":"state","code":"FL","name":"Florida","subregions":[]},"destinationCityName":"Orlando","destinationPostalCode":"32821","residentialIndicator":"01","shipDate":"2024-01-29","weight":"0.55404","weightUnitOfMeasure":"LBS","billType":"02","numberOfPackages":2}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json
      Authtransid:
      - ''
      Errorcode:
      - '500'
      Errordescription:
      - UnexpectedEOFAtTarget
      Ak-Grn-1:
      - 0.17321cb8.1706542646.191c0c1
    body:
      encoding: UTF-8
      string: '{"response": {"errors": [{"code": "10004","message": "The service is
        temporarily unavailable"}]}}'
  recorded_at: Mon, 29 Jan 2024 15:37:28 GMT
recorded_with: VCR 6.1.0
