---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/api/shipments/v1/transittimes
    body:
      encoding: UTF-8
      string: '{"originCountryCode":"US","originStateProvince":"NC","originCityName":"Raleigh","originPostalCode":"27615","destinationCountryCode":"US","destinationStateProvince":"FL","destinationCityName":"Orlando","destinationPostalCode":"32821","residentialIndicator":"01","shipDate":"2024-01-29","weight":"0.55404","weightUnitOfMeasure":"LBS","billType":"02","numberOfPackages":"2"}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
      Transid:
      - f8ce5dd2-f4cf-40b1-abfc-33516ab166e2
      Transactionsrc:
      - testing
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - f8ce5dd2-f4cf-40b1-abfc-33516ab166e2
      Content-Type:
      - application/json
      Ak-Grn-1:
      - 0.cacf5868.1706545518.1eeb3b2e
    body:
      encoding: UTF-8
      string: '{"emsResponse":{"shipDate":"2024-01-29","shipTime":"11:25:18","serviceLevel":"A","billType":"02","residentialIndicator":"01","destinationCityName":"ORLANDO","destinationCountryName":"UNITED
        STATES","destinationCountryCode":"US","destinationPostalCode":"32821","destinationPostalCodeLow":"32821","destinationPostalCodeHigh":"32821","destinationStateProvince":"FL","originCityName":"RALEIGH","originCountryName":"UNITED
        STATES","originCountryCode":"US","originPostalCode":"27615","originPostalCodeLow":"27615","originPostalCodeHigh":"27615","originStateProvince":"NC","weightUnitOfMeasure":"LBS","weight":"0.6","shipmentContentsValue":"0","guaranteeSuspended":false,"numberOfServices":6,"services":[{"serviceLevel":"1DM","serviceLevelDescription":"UPS
        Next Day Air® Early","businessTransitDays":1,"totalTransitDays":0,"deliveryDate":"2024-01-30","deliveryTime":"08:00:00","deliveryDayOfWeek":"TUE","nextDayPickupIndicator":"0","saturdayPickupIndicator":"0","saturdayDeliveryIndicator":"0","sundayPickupIndicator":"0","sundayDeliveryIndicator":"0","guaranteeIndicator":"1","restDaysCount":0,"holidayCount":0,"delayCount":0,"commitTime":"08:00:00","shipDate":"2024-01-29","pickupTime":"20:00:00","pickupDate":"2024-01-29","poddays":0,"cstccutoffTime":"18:00:00"},{"serviceLevel":"1DA","serviceLevelDescription":"UPS
        Next Day Air®","businessTransitDays":1,"totalTransitDays":0,"deliveryDate":"2024-01-30","deliveryTime":"12:00:00","deliveryDayOfWeek":"TUE","nextDayPickupIndicator":"0","saturdayPickupIndicator":"0","saturdayDeliveryIndicator":"0","sundayPickupIndicator":"0","sundayDeliveryIndicator":"0","guaranteeIndicator":"1","restDaysCount":0,"holidayCount":0,"delayCount":0,"commitTime":"12:00:00","shipDate":"2024-01-29","pickupTime":"2[...]
