---
http_interactions:
- request:
    method: post
    uri: https://api.shipengine.com/v1/addresses/validate
    body:
      encoding: UTF-8
      string: '[{"name":"John Smith","phone":"123-123-1234","email":"john@acme.com","company_name":"ACME
        Inc","address_line1":"123 Maple St","address_line2":"Suite 456","address_line3":null,"city_locality":"Richmond","state_province":"VA","postal_code":"23224","country_code":"US","address_residential_indicator":"yes"}]'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "%SHIPENGINE_API_KEY%"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Remaining:
      - '19'
      Ratelimit-Limit:
      - '20'
      Ratelimit-Reset:
      - '49'
      X-Shipengine-Requestid:
      - 5c58e523-0662-4dbb-87f5-c2e59f35c9bc
      Branch-Name:
      - bWFpbg
    body:
      encoding: UTF-8
      string: "[\r\n  {\r\n    \"status\": \"verified\",\r\n    \"original_address\":
        {\r\n      \"name\": \"John Smith\",\r\n      \"phone\": \"123-123-1234\",\r\n
        \     \"email\": null,\r\n      \"company_name\": \"ACME Inc\",\r\n      \"address_line1\":
        \"123 Maple St\",\r\n      \"address_line2\": \"Suite 456\",\r\n      \"address_line3\":
        null,\r\n      \"city_locality\": \"Richmond\",\r\n      \"state_province\":
        \"VA\",\r\n      \"postal_code\": \"23224\",\r\n      \"country_code\": \"US\",\r\n
        \     \"address_residential_indicator\": \"yes\"\r\n    },\r\n    \"matched_address\":
        {\r\n      \"name\": \"JOHN SMITH\",\r\n      \"phone\": \"123-123-1234\",\r\n
        \     \"email\": null,\r\n      \"company_name\": \"ACME INC\",\r\n      \"address_line1\":
        \"123 MAPLE AVE STE 456\",\r\n      \"address_line2\": \"\",\r\n      \"address_line3\":
        null,\r\n      \"city_locality\": \"RICHMOND\",\r\n      \"state_province\":
        \"VA\",\r\n      \"postal_code\": \"23226\",\r\n      \"country_code\": \"US\",\r\n
        \     \"address_residential_indicator\": \"unknown\"\r\n    },\r\n    \"messages\":
        []\r\n  }\r\n]"
  recorded_at: Fri, 01 Mar 2024 17:05:11 GMT
recorded_with: VCR 6.1.0
