---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/ShipConfirm
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber><UPS_KEY></AccessLicenseNumber>
          <UserId><UPS_LOGIN></UserId>
          <Password><UPS_PASSWORD></Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <ShipmentConfirmRequest>
          <Request>
            <RequestAction>ShipConfirm</RequestAction>
            <RequestOption>validate</RequestOption>
            <SubVersion>1707</SubVersion>
          </Request>
          <Shipment>
            <Service>
              <Code>03</Code>
            </Service>
            <ShipTo>
              <CompanyName>Company</CompanyName>
              <AttentionName>Jane Doe</AttentionName>
              <PhoneNumber>555-555-0199</PhoneNumber>
              <Address>
                <AddressLine1>xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</AddressLine1>
                <AddressLine2>South</AddressLine2>
                <City>Orlando</City>
                <PostalCode>32821</PostalCode>
                <StateProvinceCode>FL</StateProvinceCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator/>
              </Address>
            </ShipTo>
            <Shipper>
              <Name>Company</Name>
              <AttentionName>John Doe</AttentionName>
              <PhoneNumber>555-555-0199</PhoneNumber>
              <Address>
                <AddressLine1>10 Lovely Street</AddressLine1>
                <AddressLine2>Northwest</AddressLine2>
                <City>Raleigh</City>
                <PostalCode>27615</PostalCode>
                <StateProvinceCode>NC</StateProvinceCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator/>
              </Address>
              <ShipperNumber>UPS_SHIPPER_NUMBER</ShipperNumber>
            </Shipper>
            <ItemizedPaymentInformation>
              <ShipmentCharge>
                <Type>01</Type>
                <BillShipper>
                  <AccountNumber>UPS_SHIPPER_NUMBER</AccountNumber>
                </BillShipper>
              </ShipmentCharge>
            </ItemizedPaymentInformation>
            <ShipmentServiceOptions>
              <UPScarbonneutralIndicator/>
            </ShipmentServiceOptions>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>7.874</Length>
                <Width>5.906</Width>
                <Height>11.811</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>1</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>7.874</Length>
                <Width>5.906</Width>
                <Height>11.811</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>1</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
          </Shipment>
          <LabelSpecification>
            <LabelStockSize>
              <Height>4</Height>
              <Width>6</Width>
            </LabelStockSize>
            <LabelPrintMethod>
              <Code>GIF</Code>
            </LabelPrintMethod>
            <HTTPUserAgent>Mozilla/4.5</HTTPUserAgent>
            <LabelImageFormat>GIF<Code>GIF</Code></LabelImageFormat>
          </LabelSpecification>
        </ShipmentConfirmRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Apierrormsg:
      - Missing or invalid ship to address line 1
      Apihttpstatus:
      - '400'
      Apierrorcode:
      - '120202'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <ShipmentConfirmResponse><Response><ResponseStatusCode>0</ResponseStatusCode><ResponseStatusDescription>Failure</ResponseStatusDescription><Error><ErrorSeverity>Hard</ErrorSeverity><ErrorCode>120202</ErrorCode><ErrorDescription>Missing or invalid ship to address line 1</ErrorDescription></Error></Response></ShipmentConfirmResponse>
  recorded_at: Tue, 29 Oct 2019 12:39:33 GMT
recorded_with: VCR 5.0.0
