---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/XAV
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber><UPS_KEY></AccessLicenseNumber>
          <UserId><UPS_LOGIN></UserId>
          <Password><UPS_PASSWORD></Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <AddressValidationRequest>
          <Request>
            <RequestAction>XAV</RequestAction>
            <RequestOption>3</RequestOption>
          </Request>
          <AddressKeyFormat>
            <AddressLine>406 East 43nd Street</AddressLine>
            <AddressLine>South</AddressLine>
            <PoliticalDivision2>New York</PoliticalDivision2>
            <PoliticalDivision1>NY</PoliticalDivision1>
            <PostcodePrimaryLow>27777</PostcodePrimaryLow>
            <CountryCode>US</CountryCode>
          </AddressKeyFormat>
        </AddressValidationRequest>
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Apihttpstatus:
      - '200'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AddressValidationResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><ValidAddressIndicator/><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><AddressKeyFormat><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><AddressLine>406
        W 43RD ST</AddressLine><Region>NEW YORK NY 10036-6322</Region><PoliticalDivision2>NEW
        YORK</PoliticalDivision2><PoliticalDivision1>NY</PoliticalDivision1><PostcodePrimaryLow>10036</PostcodePrimaryLow><PostcodeExtendedLow>6322</PostcodeExtendedLow><CountryCode>US</CountryCode></AddressKeyFormat></AddressValidationResponse>
  recorded_at: Mon, 07 Oct 2019 08:19:48 GMT
recorded_with: VCR 5.0.0
