---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/XAV
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>%UPS_KEY%</AccessLicenseNumber>
          <UserId>%UPS_LOGIN%</UserId>
          <Password>%UPS_PASSWORD%</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <AddressValidationRequest>
          <Request>
            <RequestAction>XAV</RequestAction>
            <RequestOption>3</RequestOption>
          </Request>
          <AddressKeyFormat>
            <ConsigneeName>United Nations</ConsigneeName>
            <AddressLine>East 43nd Street</AddressLine>
            <AddressLine>Suite 100</AddressLine>
            <PoliticalDivision2>New York</PoliticalDivision2>
            <PoliticalDivision1>NY</PoliticalDivision1>
            <PostcodePrimaryLow>27777</PostcodePrimaryLow>
            <CountryCode>US</CountryCode>
          </AddressKeyFormat>
        </AddressValidationRequest>
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Apihttpstatus:
      - '200'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AddressValidationResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><AmbiguousAddressIndicator/><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><AddressKeyFormat><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><AddressLine>2-22
        E 43RD ST</AddressLine><Region>NEW YORK NY 10017-4607</Region><PoliticalDivision2>NEW
        YORK</PoliticalDivision2><PoliticalDivision1>NY</PoliticalDivision1><PostcodePrimaryLow>10017</PostcodePrimaryLow><PostcodeExtendedLow>4607</PostcodeExtendedLow><CountryCode>US</CountryCode></AddressKeyFormat><AddressKeyFormat><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><AddressLine>11-19
        E 43RD ST</AddressLine><Region>NEW YORK NY 10017-4601</Region><PoliticalDivision2>NEW
        YORK</PoliticalDivision2><PoliticalDivision1>NY</PoliticalDivision1><PostcodePrimaryLow>10017</PostcodePrimaryLow><PostcodeExtendedLow>4601</PostcodeExtendedLow><CountryCode>US</CountryCode></[...]
