---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/Rate
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>%UPS_KEY%</AccessLicenseNumber>
          <UserId>%UPS_LOGIN%</UserId>
          <Password>%UPS_PASSWORD%</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <RatingServiceSelectionRequest>
          <Request>
            <RequestAction>Rate</RequestAction>
            <RequestOption>Shop</RequestOption>
            <SubVersion>1707</SubVersion>
          </Request>
          <PickupType>
            <Code>01</Code>
          </PickupType>
          <CustomerClassification>
            <Code>01</Code>
          </CustomerClassification>
          <Shipment>
            <Shipper>
              <Name>Company</Name>
              <AttentionName>Jane Doe</AttentionName>
              <PhoneNumber>555-555-0199</PhoneNumber>
              <Address>
                <AddressLine1>11 Lovely Street</AddressLine1>
                <AddressLine2>South</AddressLine2>
                <City>Herndon</City>
                <PostalCode>27703</PostalCode>
                <StateProvinceCode>NC</StateProvinceCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator/>
              </Address>
              <ShipperNumber/>
            </Shipper>
            <ShipTo>
              <CompanyName>Company</CompanyName>
              <AttentionName>Jane Doe</AttentionName>
              <PhoneNumber>555-555-0199</PhoneNumber>
              <Address>
                <AddressLine1>11 Lovely Street</AddressLine1>
                <AddressLine2>South</AddressLine2>
                <City>Herndon</City>
                <PostalCode>32821</PostalCode>
                <StateProvinceCode>FL</StateProvinceCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator/>
              </Address>
            </ShipTo>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>7.874</Length>
                <Width>5.906</Width>
                <Height>11.811</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>1</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>7.874</Length>
                <Width>5.906</Width>
                <Height>11.811</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>1</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
          </Shipment>
        </RatingServiceSelectionRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Apihttpstatus:
      - '200'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RatingServiceSelectionResponse><Response><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><RatedShipment><Service><Code>03</Code></Service><RatedShipmentWarning>Your invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>10.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>33.52</MonetaryValue></TransportationCharges><BaseServiceCharge><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></BaseServiceCharge><ItemizedCharges><Code>270</Code><CurrencyCode>USD</CurrencyCode><MonetaryValue>7.90</MonetaryValue></ItemizedCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>33.52</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery/><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.76</MonetaryValue></TransportationCharges><BaseServiceCharge><CurrencyCode>USD</CurrencyCode><MonetaryValue>11.67</MonetaryValue></BaseServiceCharge><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></ServiceOptionsCharges><ItemizedCharges><Code>376</Code><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue><SubType>Suburban</SubType></ItemizedCharges><ItemizedCharges><Code>375</Code><CurrencyCode>USD</CurrencyCode><MonetaryValue>1.14</MonetaryValue></ItemizedCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.76</MonetaryValue></TotalCharges><Weight>1.0</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>5.0</Weight></BillingWeight></RatedPackage><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.76</MonetaryValue></T[...]
