---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/Rate
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>%UPS_KEY%</AccessLicenseNumber>
          <UserId>%UPS_LOGIN%</UserId>
          <Password>%UPS_PASSWORD%</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <RatingServiceSelectionRequest>
          <Request>
            <RequestAction>Rate</RequestAction>
            <SubVersion>1707</SubVersion>
          </Request>
          <PickupType>
            <Code>01</Code>
          </PickupType>
          <CustomerClassification>
            <Code>01</Code>
          </CustomerClassification>
          <Shipment>
            <Shipper>
              <Name>Company</Name>
              <AttentionName>Jane Doe</AttentionName>
              <PhoneNumber>555-555-0199</PhoneNumber>
              <Address>
                <AddressLine1>11 Lovely Street</AddressLine1>
                <AddressLine2>South</AddressLine2>
                <City>Herndon</City>
                <PostalCode>27703</PostalCode>
                <StateProvinceCode>NC</StateProvinceCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator/>
              </Address>
              <ShipperNumber>%UPS_SHIPPER_NUMBER%</ShipperNumber>
            </Shipper>
            <ShipTo>
              <CompanyName>Company</CompanyName>
              <AttentionName>Jane Doe</AttentionName>
              <PhoneNumber>555-555-0199</PhoneNumber>
              <Address>
                <AddressLine1>11 Lovely Street</AddressLine1>
                <AddressLine2>South</AddressLine2>
                <City>Herndon</City>
                <PostalCode>32821</PostalCode>
                <StateProvinceCode>FL</StateProvinceCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator/>
              </Address>
            </ShipTo>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>7.874</Length>
                <Width>5.906</Width>
                <Height>11.811</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>1</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
            <Service>
              <Code>93</Code>
            </Service>
            <ShipmentServiceOptions>
              <UPScarbonneutralIndicator/>
            </ShipmentServiceOptions>
            <RateInformation>
              <NegotiatedRatesIndicator/>
            </RateInformation>
          </Shipment>
        </RatingServiceSelectionRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Apihttpstatus:
      - '200'
      Bkndtransid:
      - 0000ciestdp5l7jCL2plCk
      Content-Type:
      - application/xml;charset=UTF-8
      Ak-Grn-1:
      - 0.856656b8.1671637908.278e622b
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RatingServiceSelectionResponse><Response><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><RatedShipment><Service><Code>93</Code></Service><RatedShipmentWarning>Your invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>5.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.41</MonetaryValue></TransportationCharges><BaseServiceCharge><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></BaseServiceCharge><ItemizedCharges><Code>441</Code><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.05</MonetaryValue></ItemizedCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.05</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.46</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery/><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.41</MonetaryValue></TransportationCharges><BaseServiceCharge><CurrencyCode>USD</CurrencyCode><MonetaryValue>14.15</MonetaryValue></BaseServiceCharge><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.05</MonetaryValue></ServiceOptionsCharges><ItemizedCharges><Code>375</Code><CurrencyCode>USD</CurrencyCode><MonetaryValue>2.26</MonetaryValue></ItemizedCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.46</MonetaryValue></TotalCharges><Weight>1.0</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>5.0</Weight></BillingWeight></RatedPackage><NegotiatedRates><NetSummaryCharges><GrandTotal><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.25</MonetaryValue></GrandTotal></NetSummaryCharges></NegotiatedRates></RatedShipment></RatingServiceSelectionResponse>
  recorded_at: Wed, 21 Dec 2022 15:51:49 GMT
recorded_with: VCR 6.1.0
