---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/Rate
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>%UPS_KEY%</AccessLicenseNumber>
          <UserId>%UPS_LOGIN%</UserId>
          <Password>%UPS_PASSWORD%</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <RatingServiceSelectionRequest>
          <Request>
            <RequestAction>Rate</RequestAction>
            <SubVersion>1707</SubVersion>
          </Request>
          <PickupType>
            <Code>01</Code>
          </PickupType>
          <CustomerClassification>
            <Code>01</Code>
          </CustomerClassification>
          <Shipment>
            <Shipper>
              <Name>Company</Name>
              <AttentionName>Jane Doe</AttentionName>
              <PhoneNumber>555-555-0199</PhoneNumber>
              <Address>
                <AddressLine1>11 Lovely Street</AddressLine1>
                <AddressLine2>Suite 100</AddressLine2>
                <City>Herndon</City>
                <PostalCode>27703</PostalCode>
                <StateProvinceCode>NC</StateProvinceCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator/>
              </Address>
              <ShipperNumber>%UPS_SHIPPER_NUMBER%</ShipperNumber>
            </Shipper>
            <ShipTo>
              <CompanyName>Company</CompanyName>
              <AttentionName>Jane Doe</AttentionName>
              <PhoneNumber>555-555-0199</PhoneNumber>
              <Address>
                <AddressLine1>11 Lovely Street</AddressLine1>
                <AddressLine2>Suite 100</AddressLine2>
                <City>Herndon</City>
                <PostalCode>32821</PostalCode>
                <StateProvinceCode>FL</StateProvinceCode>
                <CountryCode>US</CountryCode>
                <ResidentialAddressIndicator/>
              </Address>
            </ShipTo>
            <Package>
              <PackagingType>
                <Code>02</Code>
              </PackagingType>
              <Dimensions>
                <UnitOfMeasurement>
                  <Code>IN</Code>
                </UnitOfMeasurement>
                <Length>7.874</Length>
                <Width>5.906</Width>
                <Height>11.811</Height>
              </Dimensions>
              <PackageWeight>
                <UnitOfMeasurement>
                  <Code>LBS</Code>
                </UnitOfMeasurement>
                <Weight>1</Weight>
              </PackageWeight>
              <PackageServiceOptions/>
            </Package>
            <Service>
              <Code>93</Code>
            </Service>
            <ShipmentServiceOptions>
              <UPScarbonneutralIndicator/>
            </ShipmentServiceOptions>
            <RateInformation>
              <NegotiatedRatesIndicator/>
            </RateInformation>
          </Shipment>
        </RatingServiceSelectionRequest>
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Apihttpstatus:
      - '200'
      Bkndtransid:
      - 000ciest2dp5ln2Rn7FkP6
      Content-Type:
      - application/xml;charset=UTF-8
      Ak-Grn-1:
      - 0.956656b8.1671637943.4dad0ec
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0"?>
        <RatingServiceSelectionResponse><Response><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><RatedShipment><Service><Code>93</Code></Service><RatedShipmentWarning>Your invoice may vary from the displayed reference rates</RatedShipmentWarning><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>5.0</Weight></BillingWeight><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.41</MonetaryValue></TransportationCharges><BaseServiceCharge><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.00</MonetaryValue></BaseServiceCharge><ItemizedCharges><Code>441</Code><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.05</MonetaryValue></ItemizedCharges><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.05</MonetaryValue></ServiceOptionsCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.46</MonetaryValue></TotalCharges><GuaranteedDaysToDelivery/><ScheduledDeliveryTime/><RatedPackage><TransportationCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.41</MonetaryValue></TransportationCharges><BaseServiceCharge><CurrencyCode>USD</CurrencyCode><MonetaryValue>14.15</MonetaryValue></BaseServiceCharge><ServiceOptionsCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>0.05</MonetaryValue></ServiceOptionsCharges><ItemizedCharges><Code>375</Code><CurrencyCode>USD</CurrencyCode><MonetaryValue>2.26</MonetaryValue></ItemizedCharges><TotalCharges><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.46</MonetaryValue></TotalCharges><Weight>1.0</Weight><BillingWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>5.0</Weight></BillingWeight></RatedPackage><NegotiatedRates><NetSummaryCharges><GrandTotal><CurrencyCode>USD</CurrencyCode><MonetaryValue>16.25</MonetaryValue></GrandTotal></NetSummaryCharges></NegotiatedRates></RatedShipment></RatingServiceSelectionResponse>
  recorded_at: Wed, 21 Dec 2022 15:52:23 GMT
- request:
    method: post
    uri: https://wwwcie.ups.com/api/rating/v1707/Shop
    body:
      encoding: UTF-8
      string: '{"RateRequest":{"Request":{"RequestOption":"Rate","SubVersion":"v1707","TransactionReference":{"CustomerContext":null}},"PickupType":{"Code":"01"},"CustomerClassification":{"Code":"01"},"Shipment":{"Shipper":{"AttentionName":"Jane
        Doe","Name":"Company","ShipperNumber":"%UPS_SHIPPER_NUMBER%","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"27703","StateProvinceCode":"NC","CountryCode":"US","ResidentialAddressIndicator":"T"}},"ShipTo":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"32821","StateProvinceCode":"FL","CountryCode":"US","ResidentialAddressIndicator":"T"}},"ShipFrom":{"AttentionName":"Jane
        Doe","Name":"Company","PhoneNumber":"555-555-0199","Address":{"AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"Herndon","PostalCode":"27703","StateProvinceCode":"NC","CountryCode":"US","ResidentialAddressIndicator":"T"}},"PaymentDetails":{"ShipmentCharge":[{"Type":"01","BillShipper":{"AccountNumber":"%UPS_SHIPPER_NUMBER%"}}]},"NumOfPieces":1,"Package":[{"PackagingType":{"Code":"02"},"PackageWeight":{"UnitOfMeasurement":{"Code":"LBS"},"Weight":"1"},"PackageServiceOptions":{"DeclaredValue":{"CurrencyCode":"USD","MonetaryValue":"0"}},"Dimensions":{"UnitOfMeasurement":{"Code":"IN"},"Length":"7.874","Width":"5.906","Height":"11.811"}}]},"ShipmentRatingOptions":{"NegotiatedRatesIndicator":"2"}}}'
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Bkndtransid:
      - ciewssoas1l5tDPBsNc3LX
      Content-Type:
      - application/json;charset=UTF-8
      Ak-Grn-1:
      - 0.c9cf5868.1705594164.180e3ebd
    body:
      encoding: UTF-8
      string: '{"RateResponse":{"Response":{"ResponseStatus":{"Code":"1", "Description":"Success"},
        "Alert":[{"Code":"110971", "Description":"Your invoice may vary from the displayed
        reference rates"}], "TransactionReference":""}, "RatedShipment":[{"Service":{"Code":"01",
        "Description":""}, "RatedShipmentAlert":{"Code":"110971", "Description":"Your
        invoice may vary from the displayed reference rates"}, "BillingWeight":{"UnitOfMeasurement":{"Code":"LBS",
        "Description":"Pounds"}, "Weight":"5.0"}, "TransportationCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"130.55"}, "BaseServiceCharge":{"CurrencyCode":"USD", "MonetaryValue":"0.00"},
        "ItemizedCharges":{"Code":"270", "CurrencyCode":"USD", "MonetaryValue":"6.20"},
        "ServiceOptionsCharges":{"CurrencyCode":"USD", "MonetaryValue":"0.00"}, "TotalCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"130.55"}, "GuaranteedDelivery":{"BusinessDaysInTransit":"1",
        "DeliveryByTime":"10:30 A.M."}, "RatedPackage":{"TransportationCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"130.55"}, "BaseServiceCharge":{"CurrencyCode":"USD", "MonetaryValue":"106.34"},
        "ServiceOptionsCharges":{"CurrencyCode":"USD", "MonetaryValue":"0.00"}, "ItemizedCharges":[{"Code":"400",
        "CurrencyCode":"USD", "MonetaryValue":"0.00", "SubType":"EVS"}, {"Code":"375",
        "CurrencyCode":"USD", "MonetaryValue":"18.01"}], "TotalCharges":{"CurrencyCode":"USD",
        "MonetaryValue":"130.55"}, "Weight":"1.0", "BillingWeight":{"UnitOfMeasurement":{"Code":"LBS",
        "Description":"Pounds"}, "Weight":"5.0"}}}, {"Service":{"Code":"02", "Description":""},
        "RatedShipmentAlert":{"Code":"110971", "Description":"Your invoice may vary
        from the displayed reference rates"}, "BillingWeight":{"UnitOfMeasurement":{"Code":"LBS",
 [...]
