---
http_interactions:
- request:
    method: post
    uri: https://stg-secure.shippingapis.com/ShippingAPI.dll
    body:
      encoding: UTF-8
      string: API=RateV4&XML=%3C%3Fxml+version%3D%221.0%22%3F%3E%0A%3CRateV4Request+USERID%3D%22WRONG_LOGIN%22%3E%0A++%3CPackage+ID%3D%220%22%3E%0A++++%3CService%3EALL%3C%2FService%3E%0A++++%3CZipOrigination%3E27703%3C%2FZipOrigination%3E%0A++++%3CZipDestination%3E32821%3C%2FZipDestination%3E%0A++++%3CPounds%3E0%3C%2FPounds%3E%0A++++%3COunces%3E4%3C%2FOunces%3E%0A++++%3CContainer%3ERECTANGULAR%3C%2FContainer%3E%0A++++%3CSize%3EREGULAR%3C%2FSize%3E%0A++++%3CWidth%3E4.00%3C%2FWidth%3E%0A++++%3CLength%3E8.00%3C%2FLength%3E%0A++++%3CHeight%3E2.00%3C%2FHeight%3E%0A++++%3CGirth%3E12.00%3C%2FGirth%3E%0A++++%3CMachinable%3ETRUE%3C%2FMachinable%3E%0A++%3C%2FPackage%3E%0A%3C%2FRateV4Request%3E%0A
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Backside-Transport:
      - OK OK
      Content-Type:
      - text/xml
      Ns-Client-Ip:
      - 188.104.233.110
      X-Client-Ip:
      - 56.0.71.6,56.0.71.6
      X-Global-Transaction-Id:
      - '018fb36a5db864f70f40b3b7'
      Client-Ip:
      - 188.104.233.110
      X-Archived-Client-Ip:
      - 56.0.71.6
      Ntcoent-Length:
      - '208'
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Error><Number>80040B1A</Number><Description>Authorization failure.  Perhaps username and/or password is incorrect.</Description><Source>USPSCOM::DoAuth</Source></Error>
  recorded_at: Tue, 29 Oct 2019 16:12:39 GMT
recorded_with: VCR 5.0.0
