---
http_interactions:
- request:
    method: post
    uri: https://api.rlc.com/TransitTimes
    body:
      encoding: UTF-8
      string: '{"PickupDate":"08/04/2023","Origin":{"City":"New York","StateOrProvince":"NY","ZipOrPostalCode":"10001","CountryCode":"USA"},"Destinations":[{"StateOrProvince":"IL","CountryCode":"USA"}]}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "%RL_API_KEY%"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"PickupDate":null,"Origin":null,"Destinations":null,"Code":400,"Errors":[{"Property":"request.Destinations[0]","ErrorMessage":"ServicePoint
        Zip code is required and cannot be null or empty","ExceptionMessage":""}],"Messages":[]}'
  recorded_at: Fri, 04 Aug 2023 15:14:01 GMT
recorded_with: VCR 6.1.0
