---
http_interactions:
- request:
    method: post
    uri: https://api.rlc.com/TransitTimes
    body:
      encoding: UTF-8
      string: '{"PickupDate":"08/04/2023","Origin":{"City":"New York","StateOrProvince":"NY","ZipOrPostalCode":"10001","CountryCode":"USA"},"Destinations":[{"City":"Boulder","StateOrProvince":"CO","ZipOrPostalCode":"80301","CountryCode":"USA"}]}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "%RL_API_KEY%"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"PickupDate":"8/4/2023","Origin":{"ServicePoint":{"City":"NEW YORK","StateOrProvince":"NY","ZipOrPostalCode":"10001","CountryCode":"USA"},"ServiceCenter":{"Code":"LIS","Location":"LONG
        ISLAND, NY","Phone":"1-888-575-2632"}},"Destinations":[{"ServiceLevels":[{"Name":"GUARANTEED
        DELIVERY SERVICE","Code":"GSDS"}],"ServiceDays":6,"DeliveryDate":"8/14/2023","DestinationNotes":"","ServicePoint":{"City":"BOULDER","StateOrProvince":"CO","ZipOrPostalCode":"80301","CountryCode":"USA"},"ServiceCenter":{"Code":"DVR","Location":"DENVER,
        CO","Phone":"1-800-318-7992"}}],"Code":200,"Errors":[],"Messages":[]}'
  recorded_at: Fri, 04 Aug 2023 15:15:35 GMT
recorded_with: VCR 6.1.0
