---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/security/v1/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
      Content-Type:
      - application/x-www-form-urlencoded
      X-Merchant-Id:
      - Y9319W
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ak-Grn-1:
      - 0.9d726268.1712244289.2488c6ac
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","issued_at":"1712244289410","client_id":"%UPS_CLIENT_ID%","access_token":"XXXXXXXXXXX","expires_in":"14399","status":"approved"}'
  recorded_at: Thu, 04 Apr 2024 15:24:49 GMT
recorded_with: VCR 6.1.0
