---
http_interactions:
- request:
    method: post
    uri: https://api.rlc.com/BillOfLading
    body:
      encoding: UTF-8
      string: '{"BillOfLading":{"BOLDate":"08/07/2023","Shipper":{"CompanyName":"ACME Inc","AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"New York","StateOrProvince":"NY","ZipOrPostalCode":"10001","CountryCode":"USA","PhoneNumber":"123-123-1234","EmailAddress":"acme@example.com"},"Consignee":{"CompanyName":"Widgets LLC","AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 200","City":"Boulder","StateOrProvince":"CO","ZipOrPostalCode":"80301","CountryCode":"USA","PhoneNumber":"321-321-3210","EmailAddress":"wdgets@example.com"},"BillTo":{"CompanyName":"ACME Inc","AddressLine1":"11
        Lovely Street","AddressLine2":"Suite 100","City":"New York","StateOrProvince":"NY","ZipOrPostalCode":"10001","CountryCode":"USA","PhoneNumber":"123-123-1234","EmailAddress":"acme@example.com"},"Items":[],"AdditionalServices":["OriginLiftgate"]},"PickupRequest":{"PickupInformation":{"PickupDate":"08/07/2023","ReadyTime":"09:13
        AM","CloseTime":"11:13 AM"}}}'
    headers:
      Content-Type:
      - application/json
      Apikey:
      - "%RL_API_KEY%"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ProNumber":null,"PickupRequestNumber":null,"Code":400,"Errors":[{"Property":"request.BillOfLading.Items","ErrorMessage":"There
        must be at least one item in the list","ExceptionMessage":""}],"Messages":[]}'
  recorded_at: Mon, 07 Aug 2023 14:13:29 GMT
recorded_with: VCR 6.1.0
