---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/XAV
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>%UPS_KEY%</AccessLicenseNumber>
          <UserId>%UPS_LOGIN%</UserId>
          <Password>%UPS_PASSWORD%</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <AddressValidationRequest>
          <Request>
            <RequestAction>XAV</RequestAction>
            <RequestOption>3</RequestOption>
          </Request>
          <AddressKeyFormat>
            <ConsigneeName>United Nations</ConsigneeName>
            <AddressLine>405 East 42nd Street</AddressLine>
            <AddressLine>Suite 100</AddressLine>
            <PoliticalDivision2>New York</PoliticalDivision2>
            <PoliticalDivision1>NY</PoliticalDivision1>
            <PostcodePrimaryLow>10017</PostcodePrimaryLow>
            <CountryCode>US</CountryCode>
          </AddressKeyFormat>
        </AddressValidationRequest>
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Apihttpstatus:
      - '200'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AddressValidationResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><ValidAddressIndicator/><AddressClassification><Code>1</Code><Description>Commercial</Description></AddressClassification><AddressKeyFormat><AddressClassification><Code>1</Code><Description>Commercial</Description></AddressClassification><AddressLine>405
        E 42ND ST</AddressLine><Region>NEW YORK NY 10017-3507</Region><PoliticalDivision2>NEW
        YORK</PoliticalDivision2><PoliticalDivision1>NY</PoliticalDivision1><PostcodePrimaryLow>10017</PostcodePrimaryLow><PostcodeExtendedLow>3507</PostcodeExtendedLow><CountryCode>US</CountryCode></AddressKeyFormat></AddressValidationResponse>
  recorded_at: Tue, 29 Oct 2019 18:30:13 GMT
recorded_with: VCR 5.0.0
