---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/XAV
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>%UPS_KEY%</AccessLicenseNumber>
          <UserId>%UPS_LOGIN%</UserId>
          <Password>%UPS_PASSWORD%</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <AddressValidationRequest>
          <Request>
            <RequestAction>XAV</RequestAction>
            <RequestOption>3</RequestOption>
          </Request>
          <AddressKeyFormat>
            <ConsigneeName>Company</ConsigneeName>
            <AddressLine>401 Dover St</AddressLine>
            <AddressLine>South</AddressLine>
            <PoliticalDivision2>Westbury</PoliticalDivision2>
            <PoliticalDivision1>NY</PoliticalDivision1>
            <PostcodePrimaryLow>11590</PostcodePrimaryLow>
            <CountryCode>US</CountryCode>
          </AddressKeyFormat>
        </AddressValidationRequest>
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Apihttpstatus:
      - '200'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AddressValidationResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><ValidAddressIndicator/><AddressClassification><Code>2</Code><Description>Residential</Description></AddressClassification><AddressKeyFormat><AddressClassification><Code>2</Code><Description>Residential</Description></AddressClassification><AddressLine>401
        DOVER ST</AddressLine><Region>WESTBURY NY 11590-3207</Region><PoliticalDivision2>WESTBURY</PoliticalDivision2><PoliticalDivision1>NY</PoliticalDivision1><PostcodePrimaryLow>11590</PostcodePrimaryLow><PostcodeExtendedLow>3207</PostcodeExtendedLow><CountryCode>US</CountryCode></AddressKeyFormat></AddressValidationResponse>
  recorded_at: Tue, 29 Oct 2019 18:30:14 GMT
recorded_with: VCR 5.0.0
