---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/XAV
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>%UPS_KEY%</AccessLicenseNumber>
          <UserId>%UPS_LOGIN%</UserId>
          <Password>%UPS_PASSWORD%</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <AddressValidationRequest>
          <Request>
            <RequestAction>XAV</RequestAction>
            <RequestOption>3</RequestOption>
          </Request>
          <AddressKeyFormat>
            <ConsigneeName>Company</ConsigneeName>
            <AddressLine>123 Does Not Exist St</AddressLine>
            <AddressLine>South</AddressLine>
            <PoliticalDivision2>New York</PoliticalDivision2>
            <PoliticalDivision1>NY</PoliticalDivision1>
            <PostcodePrimaryLow>10005</PostcodePrimaryLow>
            <CountryCode>US</CountryCode>
          </AddressKeyFormat>
        </AddressValidationRequest>
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Apihttpstatus:
      - '200'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><AddressValidationResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><AmbiguousAddressIndicator/><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><AddressKeyFormat><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><ConsigneeName>COMPANY
        TOURS</ConsigneeName><AddressLine>345 PARK AVE</AddressLine><AddressLine>STE
        1706</AddressLine><Region>NEW YORK NY 10154-1788</Region><PoliticalDivision2>NEW
        YORK</PoliticalDivision2><PoliticalDivision1>NY</PoliticalDivision1><PostcodePrimaryLow>10154</PostcodePrimaryLow><PostcodeExtendedLow>1788</PostcodeExtendedLow><CountryCode>US</CountryCode></AddressKeyFormat><AddressKeyFormat><AddressClassification><Code>0</Code><Description>Unknown</Description></AddressClassification><ConsigneeName>COMPANY
        STORE</ConsigneeName><AddressLine>200 PARK AVE</AddressLine><AddressLine>UPPR
        8NE</AddressLine><Region>NEW YORK NY 10166-0008</Region><PoliticalDivision2>NEW
        YORK</PoliticalDivision2><PoliticalDivision1>NY</PoliticalDivision1><PostcodePrimaryLow>10166</PostcodePrimaryLow><PostcodeExtendedLow>0008</PostcodeExtendedLow><CountryCode>US</CountryCode></AddressKeyFormat></AddressValidationResponse>
  recorded_at: Tue, 29 Oct 2019 18:30:14 GMT
recorded_with: VCR 5.0.0
