---
http_interactions:
- request:
    method: get
    uri: https://api.usps.com/service-standards/v3/estimates?acceptanceDate=2024-04-10&destinationZIPCode=32821&mailClass=USPS_GROUND_ADVANTAGE&originZIPCode=27703
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"apiVersion\": \"/service-standards/v3/\",\n
        \               \"error\": {\n                    \"code\": \"401\",\n                    \"message\":
        \"Missing or malformed access token.\",\n                    \"errors\": [{\"title\":\"invalid_token\",\"detail\":\"The
        access token presented with the request is missing or malformed (not a JWT).\",\"source\":\"Access
        Token\"}]\n                }\n            }\n        "
  recorded_at: Wed, 10 Apr 2024 15:09:43 GMT
recorded_with: VCR 6.1.0
