---
http_interactions:
- request:
    method: get
    uri: https://api.usps.com/service-standards/v3/estimates?acceptanceDate=2024-04-03&destinationZIPCode=00000&mailClass=USPS_GROUND_ADVANTAGE&originZIPCode=27703
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cteonnt-Length:
      - '703'
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: '[{"mailClass":"USPS_GROUND_ADVANTAGE","notes":"WEIGHT_LESS_THAN_1_POUND","destinationType":"STREET","acceptanceDateTime":"2024-04-03T08:00:00","effectiveAcceptanceDate":"2024-04-03","cutOffTime":"1700","serviceStandard":"","serviceStandardMessage":"","acceptanceLocations":{"streetAddress":"","city":"","state":"","ZIPCode":"","ZIPPlus4":""},"delivery":{"guaranteedDelivery":false}},{"mailClass":"USPS_GROUND_ADVANTAGE","notes":"WEIGHT_GREATER_THAN_OR_EQUAL_TO_1_POUND","destinationType":"STREET","acceptanceDateTime":"2024-04-03T08:00:00","effectiveAcceptanceDate":"2024-04-03","cutOffTime":"1700","serviceStandard":"","serviceStandardMessage":"","acceptanceLocations":{"streetAddress":"","city":"","state":"","ZIPCode":"","ZIPPlus4":""},"delivery":{"guaranteedDelivery":false}}]'
  recorded_at: Wed, 03 Apr 2024 18:06:26 GMT
recorded_with: VCR 6.1.0
