---
http_interactions:
- request:
    method: get
    uri: https://api.usps.com/service-standards/v3/estimates?acceptanceDate=2024-04-03&destinationZIPCode=&mailClass=USPS_GROUND_ADVANTAGE&originZIPCode=27703
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Config-Ver:
      - '3.9'
    body:
      encoding: UTF-8
      string: "\n            {\n                \"apiVersion\": \"/service-standards/v3/\",\n
        \               \"error\": {\n                    \"code\": \"400\",\n                    \"message\":
        \"OASValidation OpenAPI-Spec-Validation-Service-Standards with resource oas://service-standards-3.0.0_swagger_resolved_non-flat.yaml:
        failed with reason: [ERROR - Parameter 'destinationZIPCode' is required but
        is missing.: []]\",\n                    \"errors\": []\n                }\n
        \           }\n        "
  recorded_at: Wed, 03 Apr 2024 18:06:26 GMT
recorded_with: VCR 6.1.0
