---
http_interactions:
- request:
    method: delete
    uri: https://api.tforcefreight.com/pickup/request/WBU00000000?api-version=v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "\n                {\n                    \"responseStatus\": {\n                        \"code\":
        \"ERROR\",\n                        \"description\": {\n                            \"errorCode\":
        \"401\",\n                            \"errorDescription\": \"Not authorized
        to Cancel Pickup WBU00000000\"\n                        }\n                    },\n
        \                   \"transactionReference\": {\n                        \"transactionId\":
        \"b31a21d27ca442ff9ed9f95305d0376a\",\n                        \"confirmationNumber\":
        \"WBU00000000\"\n                    }\n                }\n                "
  recorded_at: Thu, 10 Sep 2026 15:04:14 GMT
recorded_with: VCR 6.4.0
