---
http_interactions:
- request:
    method: delete
    uri: https://api.tforcefreight.com/pickup/request/WBU79686863?api-version=v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |2-

                        {
                            "responseStatus": {
                                "code": "1",
                                "description": "Success"
                            },
                            "transactionReference": {
                                "transactionId": "6ff10969aba4437dbd91dcbf3db161e4",
                                "confirmationNumber": "WBU79686863"
                            }
                        }
  recorded_at: Thu, 10 Sep 2026 16:28:40 GMT
recorded_with: VCR 6.4.0
