---
http_interactions:
- request:
    method: post
    uri: https://wwwcie.ups.com/ups.app/xml/TimeInTransit
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <AccessRequest>
          <AccessLicenseNumber>%UPS_KEY%</AccessLicenseNumber>
          <UserId>%UPS_LOGIN%</UserId>
          <Password>%UPS_PASSWORD%</Password>
        </AccessRequest>
        <?xml version="1.0"?>
        <TimeInTransitRequest>
          <Request>
            <RequestAction>TimeInTransit</RequestAction>
          </Request>
          <TransitFrom>
            <AddressArtifactFormat>
              <PoliticalDivision2>Raleigh</PoliticalDivision2>
              <PoliticalDivision1>NC</PoliticalDivision1>
              <CountryCode>US</CountryCode>
              <PostcodePrimaryLow>27615</PostcodePrimaryLow>
            </AddressArtifactFormat>
          </TransitFrom>
          <TransitTo>
            <AddressArtifactFormat>
              <CountryCode>US</CountryCode>
              <PostcodePrimaryLow>32821</PostcodePrimaryLow>
            </AddressArtifactFormat>
          </TransitTo>
          <ShipmentWeight>
            <UnitOfMeasurement>
              <Code>LBS</Code>
            </UnitOfMeasurement>
            <Weight>1.221</Weight>
          </ShipmentWeight>
          <InvoiceLineTotal>
            <CurrencyCode>USD</CurrencyCode>
            <MonetaryValue>50.0</MonetaryValue>
          </InvoiceLineTotal>
          <PickupDate>20191204</PickupDate>
        </TimeInTransitRequest>
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Apihttpstatus:
      - '200'
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0"?><TimeInTransitResponse><Response><TransactionReference></TransactionReference><ResponseStatusCode>1</ResponseStatusCode><ResponseStatusDescription>Success</ResponseStatusDescription></Response><TransitResponse><PickupDate>2019-12-04</PickupDate><TransitFrom><AddressArtifactFormat><PoliticalDivision2>RALEIGH</PoliticalDivision2><PoliticalDivision1>NC</PoliticalDivision1><Country>UNITED
        STATES</Country><CountryCode>US</CountryCode><PostcodePrimaryLow>27615</PostcodePrimaryLow></AddressArtifactFormat></TransitFrom><TransitTo><AddressArtifactFormat><PoliticalDivision2>ORLANDO</PoliticalDivision2><PoliticalDivision1>FL</PoliticalDivision1><Country>UNITED
        STATES</Country><CountryCode>US</CountryCode><PostcodePrimaryLow>32821</PostcodePrimaryLow></AddressArtifactFormat></TransitTo><ShipmentWeight><UnitOfMeasurement><Code>LBS</Code></UnitOfMeasurement><Weight>1.2</Weight></ShipmentWeight><InvoiceLineTotal><CurrencyCode>USD</CurrencyCode><MonetaryValue>50.00</MonetaryValue></InvoiceLineTotal><Disclaimer>Services
        listed as guaranteed are backed by a money-back guarantee for transportation
        charges only. UPS guarantees the day of delivery for every ground package
        you ship to any address within all 50 states and Puerto Rico. See Terms and
        Conditions in the Service Guide for details.</Disclaimer><ServiceSummary><Service><Code>1DM</Code><Description>UPS
        Next Day Air Early</Description></Service><Guaranteed><Code>Y</Code></Guaranteed><EstimatedArrival><BusinessTransitDays>1</BusinessTransitDays><Time>08:00:00</Time><PickupDate>2019-12-04</PickupDate><PickupTime>20:00:00</PickupTime><Date>2019-12-05</Date><DayOfWeek>THU</DayOfWeek><CustomerCenterCutoff>19:00:00</CustomerCenterCutoff></EstimatedArrival></ServiceSummary><ServiceSummary><Service><Code>1DA</Code><Description>UPS
        Next Day Air</Description></Service><Guaranteed><Code>Y</Code></Guaranteed><EstimatedArrival><BusinessTransitDays>1</BusinessTransitDays><Time>10:30:00</Time><PickupDate>2019-12-04</PickupDate><PickupTime>20:00:00</PickupTime><Date>2019-12-05</Date><DayOfWeek>THU</DayOfWeek><CustomerCenterCutoff>19:00:00</CustomerCenterCutoff></EstimatedArrival></ServiceSummary><Se[...]
