---
http_interactions:
- request:
    method: post
    uri: https://api.tforcefreight.com/documents/pro?api-version=v1
    body:
      encoding: UTF-8
      string: '{"pro":"123456789","documentCategories":["BOL"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer %ACCESS_TOKEN%
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"summary":{"responseStatus":{"code":"1","message":"Success"},"transactionReference":{"transactionId":"00000000-0000-0000-0000-000000000000"}},"detail":[{"detailStatus":{"code":"1","message":"Success","documentStatus":"Active"},"documentType":{"name":"BOL","description":"Bill
        of Lading"},"id":"REDACTED","documentSize":106162,"updateDate":"REDACTED","category":"BOL","data":"JVBERi1yZWRhY3RlZCBmb3IgVkNSCg=="}]}'
  recorded_at: Tue, 30 Jun 2026 15:03:14 GMT
recorded_with: VCR 6.4.0
